<template>
  <div class="profile-edit">
    <div class="wrapper">
      <div class="profile-edit__inner">
        <section class="picture flex flex-center">
          <div class="img flex flex-center">
            <img v-if="imgURL.length" :src="imgURL" alt="photo" />
            <img
              v-else
              :src="`https://api.drivermytripline.com/storage/profiles/${getUser.id}/${getUser.profile.photo}`"
              alt="photo"
            />
          </div>
        </section>
        <section class="name flex flex-center">
          <span
            >{{ getUser.profile.first_name }}
            {{ getUser.profile.last_name }}</span
          >
        </section>
        <section class="change-picture__btn flex flex-center">
          <label for="upload-photo">Change Profile Picture</label>
          <input
            style="display: none"
            type="file"
            id="upload-photo"
            accept="image/png, application/pdf, image/jpeg"
            @change="updatePhoto($event)"
          />
        </section>
        <section class="form">
          <form>
            <label>Name</label>
            <div class="input">
              <input readonly v-model="name" type="text" />
              <img src="../../static/images/icons/mark.svg" alt="mark" />
            </div>
            <label>Email</label>
            <div class="input">
              <input readonly v-model="email" type="text" />
              <img src="../../static/images/icons/mark.svg" alt="mark" />
            </div>
            <label>Phone Number</label>
            <div class="input">
              <input readonly v-model="phone" type="text" />
              <img src="../../static/images/icons/mark.svg" alt="mark" />
            </div>
            <label>Company</label>
            <div class="input">
              <input readonly v-model="company" type="text" />
              <img src="../../static/images/icons/mark.svg" alt="mark" />
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { ref } from 'vue'

export default {
  name: 'p-edit',
  computed: {
    ...mapGetters({
      getUser: 'modules/getUser'
    })
  },
  data () {
    return {
      imgURL: ''
    }
  },
  setup () {
    return {
      name: ref(''),
      email: ref(''),
      phone: ref(''),
      company: ref('')
    }
  },
  methods: {
    updatePhoto (event) {
      const d = this
      const fr = new FileReader()
      fr.addEventListener(
        'load',
        function () {
          d.imgURL = fr.result
        },
        false
      )
      fr.readAsDataURL(event.target.files[0])
      const formData = new FormData()
      formData.append('photo', event.target.files[0])
      formData.append('user_id', JSON.stringify(this.getUser.id))
      const token = localStorage.getItem('token')
      this.$api
        .post('profile/update-photo', formData, {
          headers: { 'Content-Type': 'multipart/form-data' }
        })
        .then(() => {
          this.$api.post('user/auth', { token }).then((resp) => {
            if (resp.data.status) {
              this.$store.commit('modules/SET_USER', resp.data.user)
            }
          })
        })
    }
  },
  created () {
    this.name =
      this.getUser.profile.first_name + ' ' + this.getUser.profile.last_name
    this.email = this.getUser.email
    this.phone = this.getUser.phone
    this.company = this.getUser.company?.name
  }
}
</script>

<style scoped lang="scss">
.change-picture__btn {
  margin-top: 4px;
  margin-bottom: 36px;
  label {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.3px;
    color: $primary;
    cursor: pointer;
  }
}
form {
  label {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.003em;
    color: #afafaf;
  }
}
.input {
  width: 100%;
  position: relative;
  input {
    width: 100%;
    background: $card;
    border-radius: 7px;
    height: 46px;
    color: #fff;
    border: none;
    padding: 10px 18px;
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  img {
    position: absolute;
    right: 16px;
    top: calc(50% - 8px);
  }
}
</style>
