<template>
  <div class="profile">
    <div class="wrapper">
      <div class="profile__inner">
        <section class="picture flex flex-center">
          <div class="img flex flex-center">
            <img
              :src="`https://api.drivermytripline.com/${getUser.profile.photo}`"
              alt="photo"
            />
          </div>
        </section>
        <section class="name flex flex-center">
          <span
            >{{ getUser.profile.first_name }}
            {{ getUser.profile.last_name }}</span
          >
        </section>
        <section class="email flex flex-center">
          <span>{{ getUser.email }}</span>
        </section>
        <section class="statistic">
          <div class="statistic__block">
            <div class="statistic__list flex">
              <div class="statistic__item planned flex column flex-center">
                <div class="statistic__title">Ratings</div>
              </div>
              <div class="statistic__item flex column flex-center">
                <span class="statistic__text"
                  >0<span style="font-size: 12px; opacity: 0.6"
                    > / 5.0</span
                  ></span
                >
              </div>
              <div class="statistic__item flex column flex-center">
                <img src="../../static/images/icons/stars.svg" alt="stars" />
              </div>
            </div>
          </div>
        </section>
        <section class="links flex column">
          <router-link to="/profile/edit" class="link flex justify-between">
            <div>
              <div class="icon flex flex-center justify-center">
                <img
                  src="../../static/images/icons/profile-edit.svg"
                  alt="edit"
                />
              </div>
              <span>Profile</span>
            </div>
            <img src="../../static/images/icons/arrow.svg" alt="arrow" />
          </router-link>
          <a
            class="link flex justify-between"
            :href="$mytriplineLink('privacy-policy')"
            target="_blank"
          >
            <div>
              <div class="icon flex flex-center justify-center">
                <img src="../../static/images/icons/policy.svg" alt="edit" />
              </div>
              <span>Privacy Policy</span>
            </div>
            <img src="../../static/images/icons/arrow.svg" alt="arrow" />
          </a>
          <a
            class="link flex justify-between"
            :href="$mytriplineLink('terms-of-use')"
          >
            <div>
              <div class="icon flex flex-center justify-center">
                <img src="../../static/images/icons/gps.svg" alt="edit" />
              </div>
              <span>Terms of use</span>
            </div>
            <img src="../../static/images/icons/arrow.svg" alt="arrow" />
          </a>
        </section>
        <section class="version">
          <span>APP VERSION 0.0.3</span>
        </section>
        <section class="logout">
          <q-btn
            @click="confirm = true"
            size="md"
            padding="sm"
            color="primary"
            text-color="white"
            label="Log out"
            class="login-btn"
          />
          <q-dialog v-model="confirm" persistent>
            <q-card>
              <q-card-section class="row items-center">
                <span class="q-ml-sm"
                  >Do you really want to log out and stop receiving new
                  offers?</span
                >
              </q-card-section>

              <q-card-actions align="right">
                <q-btn flat label="Cancel" color="primary" v-close-popup />
                <q-btn flat label="OK" color="primary" @click="logout" />
              </q-card-actions>
            </q-card>
          </q-dialog>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import { mapGetters } from 'vuex'

export default {
  name: 'p-profile',
  computed: {
    ...mapGetters({
      getUser: 'modules/getUser'
    })
  },
  methods: {
    logout () {
      localStorage.removeItem('token')
      this.$router.push('/')
    }
  },
  setup () {
    return {
      confirm: ref(false)
    }
  }
}
</script>

<style scoped lang="scss">
.statistic {
  margin-bottom: 40px;
  span {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.3px;
    color: rgba(250, 250, 250, 0.9);
  }
  &__block {
    width: 100%;
    height: 60px;
    padding: 0 20px;

    background: #2e3237;
    box-shadow: 0 1px 3px $primary;
    border-radius: 16px;
  }
  &__list {
    height: 100%;
  }
  &__item {
    width: 30%;
    height: 100%;
    &:last-child {
      width: 40%;
    }
  }
  &__title {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #FAFAFAE5;
  }
}
.link {
  width: 100%;
  height: 46px;
  background: #2e3237;
  border-radius: 7px;
  padding: 10px 17px 10px 16px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  div {
    span,
    a {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: -0.3px;
      color: #afafaf;
    }
  }
}
.version {
  margin-top: 4px;
  span {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    color: #c4c4c4;
  }
}
.logout {
  width: 100%;
  margin-top: 30px;
  height: 80px;
  button {
    width: 100%;
  }
}
.link {
  & > div {
    display: flex;
    align-items: center;
  }
  .icon {
    width: 20px;
    margin-right: 22px;
  }
}
</style>
