<template>
  <div class="policy">
    <div class="wrapper">
      <div class="policy__inner">
        <h1>mytripline Apps Privacy Policy</h1>
        <br />
        <p>
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words believable. It is a long established fact
          that reader will distracted by the readable content of a page when
          looking at its layout. The point of using Lorem Ipsum is that it has a
          moreIt is a long established fact that reader will distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more
        </p>
        <ul>
          <li>
            <span
              >The standard chunk of lorem Ipsum used since 1500s is reproduced
              below for those interested.</span
            >
          </li>
          <br />
          <li>
            <span
              >Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum.
              The point of using.</span
            >
          </li>
          <br />
          <li>
            <span
              >Lorem Ipsum is that it has a moreIt is a long established fact
              that reader will distracted.</span
            >
          </li>
          <br />
          <li>
            <span
              >The point of using Lorem Ipsum is that it has a moreIt is a long
              established fact that reader will distracted.</span
            >
          </li>
        </ul>
        <br />
        <p>
          There are many variations of passages of Lorem Ipsum available, It is
          a long established fact that reader distracted by the readable content
          of a page when looking at its layout. The point of using Lorem Ipsum
          is that it has a moreIt is a long established.but the majority have
          suffered alteration in some form, by injected humour, or randomised
          words believable. It is a long established fact that reader will
          distracted by the readable content of a page when looking at its
          layout. The point of using Lorem Ipsum is that it has a moreIt is a
          long established fact that reader will distracted by the readable
          content of a page when looking at its layout. The point of using Lorem
          Ipsum is that it has a more
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'p-policy'
}
</script>

<style scoped lang="scss">
.policy__inner {
  li {
    color: $primary;
  }
  span,
  p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #848488;
  }
}
h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
  color: $primary;
}
</style>
