@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("../../static/fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'RobotoMedium';
  src: local('RobotoMedium'), url("../../static/fonts/Roboto-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'RobotoBold';
  src: local('RobotoBold'), url("../../static/fonts/Roboto-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url("../../static/fonts/Inter-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'InterMedium';
  src: local('InterMedium'), url("../../static/fonts/Inter-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'InterBold';
  src: local('InterBold'), url("../../static/fonts/Inter-Bold.ttf") format('truetype');
}