@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../../static/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"), url("../../static/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"), url("../../static/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../../static/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "InterMedium";
  src: local("InterMedium"), url("../../static/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "InterBold";
  src: local("InterBold"), url("../../static/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("../../static/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "UbuntuMedium";
  src: local("UbuntuMedium"), url("../../static/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "UbuntuBold";
  src: local("UbuntuBold"), url("../../static/fonts/Ubuntu-Bold.ttf") format("truetype");
}

/*# sourceMappingURL=fonts.css.map */