@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 88%;
  margin: 0 auto;
  height: 100%;
}

.chat__btn button {
  &::before {
    box-shadow: none;
  }

  span {
    text-shadow: none;
  }
}

.content {
  height: calc(100vh - 180px);
  overflow-y: auto;
  position: relative;
}

.q-pull-to-refresh__puller-container {
  position: absolute !important;
  width: 100% !important;
  top: -10px !important;
  left: 0 !important;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  background-color: #05060b;
  height: 100vh;
}

html {
  height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.forgot-password__text_title h2 {
  color: black !important;
}

.font__weight_medium {
  font-family: 'RobotoMedium', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.router-link-exact-active {
  color: #1969A9;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

button {
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: none;
}

input {
  outline: none;
}

.q-field--filled .q-field__control {
  border-radius: 7px !important;
  height: 46px;
}

.q-field__marginal {
  height: auto;
}

.q-field--labeled .q-field__native,
.q-field--labeled .q-field__prefix,
.q-field--labeled .q-field__suffi {
  padding: 0;
  line-height: 16px;
}

.q-field--filled .q-field__control::after {
  width: calc(100% - 14px) !important;
  margin-left: 7px;
}

.q-field__label {
  font-size: 14px;
  top: 13px;
  opacity: .8;
}

.confirm-extras-btn {
  width: 80%;
  height: 46px;

  span {
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
  }
}

.q-field--float .q-field__label {
  visibility: hidden !important;
  transition: .2s opacity ease-in-out !important;
}

.error {
  margin-top: 4px !important;

  span {
    font-size: 13px !important;
    line-height: 15px !important;
    color: #E7564F !important;
  }
}

.q-btn {
  span {
    mix-blend-mode: normal;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  }
}

.login__btn .q-btn span {
  font-size: 19px;
}

.login__password .q-field__prepend {
  padding-right: 13.5px;
  padding-left: 2.5px;
}

.q-gutter-x-md,
.q-gutter-md {
  margin-left: 0;
}

.q-gutter-x-md>*,
.q-gutter-md>* {
  margin-left: 0;
}

.login__btn,
.forgot-password__continue {
  .q-btn {
    height: 46px !important;
    border-radius: 7px !important;
  }
}

.fullscreen {
  z-index: 10000000 !important;
}

.font__medium {
  font-family: 'RobotoMedium', sans-serif !important;
}

.input-error {
  background: #F9E8E7 !important;

  .vti__input {
    background: #F9E8E7 !important;
  }
}

.input-valid {
  background: #E9F0FD !important;

  .vti__input {
    background: #E9F0FD !important;
  }
}

.input-valid {
  background: #E9F0FD !important;
}

.start {
  display: flex;
  justify-content: flex-start;
}

.center {
  display: flex;
  justify-content: center;
}

.end {
  display: flex !important;
  justify-content: flex-end !important;
}

.pending-color {
  color: #EC824A !important;
  font-family: 'RobotoMedium', sans-serif !important;
}

.forgot-password__continue span {
  text-transform: none !important;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

}

.dialog-window .q-dialog__inner--minimized>div {
  height: 440px !important;
}

.approved-color {
  color: rgba(0, 179, 18, 0.9) !important;
}

.details-color {
  color: #E88A33;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.q-field--with-bottom {
  padding-bottom: 0 !important;
}

.q-field__bottom--animated {
  position: relative !important;
  transform: none !important;
  min-height: auto !important;
  padding-top: 0 !important;
}

.logout {
  button {
    height: 46px;
    border-radius: 7px;
  }

  span {
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14.5px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: none;
  }
}

.q-field__messages {
  &>div {
    padding-top: 8px !important;
  }
}

.loader {
  border: 2px solid black;
  /* Light grey */
  border-top: 2px solid #E07B46;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.edit__block {
  display: flex;
}

.img {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  background: #4370FF;
  overflow: hidden;
  margin-bottom: 21px;
  margin-top: 10px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.name {
  margin-bottom: 7px;

  span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
  }
}

.email {
  margin-bottom: 30px;

  span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.3px;
    text-transform: lowercase;
    color: rgba(255, 255, 255, 0.5);
  }
}

.form__input,
.form__btn_select {
  display: flex;
  align-items: center;
  width: 100%;
  //margin: 10px 0;
  background: #171B1E;
  border-radius: 7px;
  height: 44px;
  padding: 10px 16px;

  input,
  button {
    background: #171B1E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #4370FF;
    border: none;
  }

  label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-right: 8px;

    img {
      margin-right: 6px;
    }
  }
}

.input__select {
  width: 65%;

  input {
    width: 100%;
  }

  img {
    position: absolute;
    right: 19px;
    top: 19px;
  }
}

.login__inner form .login__password {
  margin-top: 0 !important;
}

.login__btn {
  span {
    text-transform: none;
  }
}

.select {
  position: relative;

  button {
    z-index: 1000;
  }

  &__options {
    background: #171B1E;
    border: 1px solid #4370FF88;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    height: 120px;
    width: 100%;
    overflow: scroll;
    top: 110%;
    left: 0;
    font-size: 15px;
    border-radius: 7px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      list-style-type: none;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.9);
    }

    &_list {
      padding: 10px 14px;
      height: 100%;
      overflow: scroll;
      width: 100%;
    }

    &_item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      cursor: pointer;

      &:hover {
        color: #4370FF;
      }
    }
  }
}

.anime-select-enter-active,
.anime-select-leave-active {
  transition: 0.3s ease;
}

.anime-select-enter-from {
  height: 0;
}

.anime-select-leave-to {
  height: 0;
}

.refresh {
  height: calc(100vh - 220px);
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;

    span,
    h1 {
      display: inline;
      text-align: center !important;
    }

    span {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.003em;
      color: #FFFFFF;

      &:last-child {
        font-weight: 700;
        font-size: 19px;
        line-height: 22px;
        margin-top: 20px;
        cursor: pointer;

        &:hover {
          color: #4370FF;
        }
      }
    }

    h1 {
      margin-bottom: 10px;
    }

    img {
      width: 80px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}

.header__sub-title-right-span {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4370FF;
  margin-top: 5px;
}

.fixed-bottom {
  bottom: -20px;
}

.extras-btn span,
.action-btn span {
  text-shadow: none;
}

.booking__number span {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FAFAFA;
  opacity: 0.6;
}

.q-card__actions {
  padding: 8px 0 0 0;
}

.extra-stops,
.car,
.comment,
.driver {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.car {
  span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.015em;
    color: #FAFAFA;
  }
}

.extra-stops {
  display: block;

  .title {
    display: flex;
    margin-bottom: 6px;
  }

  span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FAFAFA;
  }
}

.comment {
  span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.015em;
    color: #FAFAFA;
  }
}

.driver {
  span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.015em;
    color: #FAFAFA;

  }
}

.extra-stops,
.car,
.comment,
.driver {
  .icon {
    width: 24px;
    display: flex;
    justify-content: center;
    margin-right: 16px;

    img {
      width: 17px;
    }
  }
}

.stops {
  width: 100%;
  padding-left: 40px;

  li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;

    span {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.005em;
      color: #FFFFFF;
      opacity: 0.6;
    }
  }
}

.last-block {
  margin-bottom: 0 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
