<template>
  <div class="chat">
    <div class="date">
      <div class="date__inner">
        <span v-if="currentDate !== 'Today'">
          {{ normalizeDate(currentDate, 'timeChat') }}
        </span>
        <span v-else>
          {{ currentDate }}
        </span>
      </div>
    </div>
    <div class="chat__main" :style="{ height: heightMainBlock }">
      <div class="messages" @scroll="this.setDate($event)">
        <div
          class="message"
          :class="{
            'msg-admin': messageItem.author === 'admin',
            'msg-user': messageItem.author === 'user',
            'msg-file': messageItem.files?.length && !messageItem.message.length,
            'msg-file-and-message': messageItem.files?.length && messageItem.message?.length,
          }"
          :ref="'message' + index"
          v-for="(messageItem, index) in messages"
          :key="messageItem"
        >
          <img
            v-if="messageItem.files?.length && !messageItem.imgURL?.length"
            :src="`https://api.drivermytripline.com/storage/messages/${messageItem.files[0].message_id}/${messageItem.files[0].filename}`"
            alt="pict"
          />
          <img
            v-else-if="!messageItem.files?.length && messageItem.imgURL?.length"
            :src="messageItem.imgURL"
            alt="pict"
          />
          <div class="message__inner">
            <div class="message__text">
              <span style="word-wrap: anywhere">{{ messageItem.message }}</span>
            </div>
            <div class="message__info">
              <div class="message__time">
                {{ normalizeDate(messageItem.date, 'chat').time }}
              </div>
              <div class="message__status">
                <img
                  v-if="
                    messageItem.status === 1 || messageItem.author === 'admin'
                  "
                  src="../static/images/icons/msg-read.svg"
                  alt="msg"
                />
                <img
                  v-else
                  src="../static/images/icons/msg-status.svg"
                  alt="msg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <teleport to=".q-page-container">
      <q-footer>
        <section class="input">
          <div class="picture">
            <button @click="removeFile()" class="delete-pict">
              <img src="../static/images/icons/xmark-solid.svg" alt="xmark"/>
            </button>
            <img v-if="imgURL !== null" :src="imgURL" alt="pict"/>
          </div>
          <div class="input__inner">
            <div class="select-file">
              <label for="upload-photo">
                <img
                  src="../static/images/icons/select-file.svg"
                  alt="select-file"
                />
              </label>
              <input
                style="display: none"
                type="file"
                id="upload-photo"
                accept="image/png, application/svg, image/jpeg"
                @change="updatePhoto($event)"
              />
            </div>
            <textarea
              v-model="message"
              :style="{ height: heightInputMessage }"
              @keyup.delete="resetMessage"
              @input="inputMessage"
              type="text"
              ref="message-area"
              placeholder="Write a reply..."
            />
            <div @click="sendMessage()" class="send-message">
              <img src="../static/images/icons/send-message.svg" alt="send"/>
            </div>
          </div>
        </section>
      </q-footer>
    </teleport>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import normalizeDate from 'src/mixins/normalizeDate'

export default {
  name: 'p-chat',
  mixins: [normalizeDate],
  data () {
    return {
      heightInputMessage: '26px',
      heightMainBlock: 'calc(100vh - 210px)',
      socket: new WebSocket('wss://api.drivermytripline.com/wss'),
      message: '',
      messages: [],
      currentDate: 'Today',
      positionsElem: [],
      chatId: null,
      adminStatus: 'offline',
      imgURL: null,
      file: null,
      chatCreated: false,
      intervalId: null
    }
  },
  computed: {
    ...mapGetters({
      getUser: 'modules/getUser'
    })
  },
  methods: {
    getMessages () {
      if (!this.chatCreated) {
        this.$store.commit('modules/setLoadingStatus', true)
      }
      this.$api
        .post('user/messages', { user_id: this.getUser.id })
        .then((resp) => {
          // console.log(resp.data)
          if (resp.data?.chat_id) {
            this.messages = resp.data.messages || []
            this.chatId = resp.data.chat_id
            const welcomeMsg = {
              author: 'admin',
              date: new Date(),
              message: 'Welcome, How can we help you?',
              status: 1
            }
            if (this.messages.length) {
              welcomeMsg.date = this.messages[0].date
            }
            this.messages.unshift(welcomeMsg)
            // this.connectWebsocket()
          }
        })
        .finally(() => {
          this.chatCreated = true
          this.$store.commit('modules/setLoadingStatus', false)
        })
    },
    inputMessage () {
      if (this.$refs['message-area'].scrollHeight < 100) {
        this.heightInputMessage =
          this.$refs['message-area'].scrollHeight + 'px'
        if (this.file === null) {
          this.heightMainBlock = `calc(100vh - ${
            this.$refs['message-area'].offsetParent.clientHeight + 1 + 108
          }px)`
        }
      }
    },
    resetMessage () {
      if (
        this.$refs['message-area'].scrollHeight > 0 &&
        this.message.length < 28
      ) {
        this.heightInputMessage = '26px'
        this.heightMainBlock = 'calc(100vh - 210px)'
      }
    },
    sendMessage () {
      let data = {
        user_id: this.getUser.id,
        message: this.message,
        chat_id: this.chatId
      }
      let headers = { headers: { 'Content-Type': 'application/json' } }
      if (this.file !== null) {
        const formData = new FormData()
        formData.append('file', this.file)
        formData.append('user_id', JSON.stringify(this.getUser.id))
        formData.append('message', this.message)
        formData.append('chat_id', JSON.stringify(this.chatId))
        data = formData
        headers = { headers: { 'Content-Type': 'multipart/form-data' } }
      }
      this.$api.post('user/messages/add', data, { headers }).then((resp) => {
        if (resp.data.status) {
          this.message = ''
          if (this.file !== null) {
            this.messages.push({
              message: resp.data.message,
              date: resp.data.date,
              status: 0,
              author: 'user',
              files: null,
              imgURL: this.imgURL
            })
            this.removeFile()
          } else {
            this.messages.push({
              message: resp.data.message,
              date: resp.data.date,
              status: 0,
              author: 'user'
            })
          }
        }
      })
    },
    getDate () {
      return 'Today'
    },
    removeFile () {
      this.file = null
      this.imgURL = null
    },
    setDate (e) {
      const scroll = e.target.scrollTop + 110
      const data = this
      this.positionsElem.forEach(function (item, index) {
        if (item.start <= scroll && scroll <= item.end) {
          data.currentDate = data.messages[index].date
        }
      })
    },
    connectWebsocket () {
      const data = this
      this.socket.onopen = function () {
        data.socket.send(JSON.stringify({ connect_id: data.getUser.id }))
      }
      this.socket.onmessage = function (event) {
        this.message = ''
        const request = JSON.parse(event.data)
        if (request.adminStatus !== undefined) {
          data.$store.commit('modules/SET_ADMIN_STATUS', request.adminStatus)
        } else if (request.chatRead !== undefined) {
          data.adminRead()
        } else if (JSON.parse(event.data).msg !== undefined) {
          data.messages.push({
            message: JSON.parse(event.data).msg,
            date: JSON.parse(event.data).date,
            status: 0,
            author: 'admin'
          })
        }
      }
    },
    updatePhoto (event) {
      const d = this
      const fr = new FileReader()
      fr.addEventListener(
        'load',
        function () {
          d.imgURL = fr.result
        },
        false
      )
      fr.readAsDataURL(event.target.files[0])
      this.file = event.target.files[0]
    },
    adminRead () {
      for (let i = this.messages.length - 1; i >= 0; i--) {
        if (
          this.messages[i].status === 0 &&
          this.messages[i].author === 'user'
        ) {
          this.messages[i].status = 1
        } else {
          break
        }
      }
    }
  },
  created () {
    this.getMessages()
    this.intervalId = setInterval(() => {
      this.getMessages()
    }, 2000)
  },
  unmounted () {
    clearInterval(this.intervalId)
  }
}
</script>

<style scoped lang="scss">
.wrapper {
  margin: 0;
}

.chat__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.input {
  position: sticky;
  min-height: 92px;
  bottom: 0;
  border-top: 1px solid #848488;
  padding: 15px 0 30px 0;
  display: flex;
  justify-content: center;

  &__inner {
    background: #171b1e;
    border: 1px solid #848488;
    border-radius: 10px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 90%;

    textarea {
      padding: 0 10px;
      height: 60%;
      background: none;
      border: none;
      width: 100%;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #fff;
      resize: none;
    }

    .select-file,
    .send-message {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.messages {
  overflow-y: scroll;
  padding: 0 4% 0 6%;
  margin-right: 2%;
  margin-top: 20px;
}

.message {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  &__text span {
    white-space: pre-wrap;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__inner {
    width: 70%;
    background: #2e3237;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  &__time {
    margin-right: 6px;
    font-size: 13px;
    color: #7d848d;
  }

  &__text {
    span {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.003em;
      color: #fff;
    }
  }

  &__info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 5px;
    width: 20%;
    margin-bottom: -5px;
  }

  .space {
    width: 80%;
  }
}

.msg-user {
  display: flex;
  flex-direction: row;

  .message__inner {
    border-radius: 7px 7px 0 7px;
  }
}

.msg-admin {
  flex-direction: row;
  justify-content: flex-start;

  .message__inner {
    border-radius: 7px 7px 7px 0;
  }
}

.date {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 128px;

  &__inner {
    margin: 0 auto;
    z-index: 200000;
    padding: 0 10px;
    height: 22px;
    background: #2e3237;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;

    span {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #7d848d;
    }
  }
}

.input {
  background-color: #171b1e;
  display: flex;
  flex-direction: column;
  align-items: center;

  .picture {
    position: relative;
    width: 200px;
    margin-bottom: 16px;
    border-radius: 10px;
    overflow: hidden;

    img {
      max-height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }
}

.delete-pict {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #171b1e;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 60%;
    width: 60%;
  }
}

.msg-file-and-message {
  flex-wrap: wrap;

  & > img {
    width: 70%;
    height: 200px;
    object-fit: cover;
    border-radius: 7px 7px 0 0;
  }
}

.msg-file-and-message.msg-user {
  .message__inner {
    border-radius: 0;
    border-bottom-left-radius: 7px;
  }
}

.msg-file-and-message.msg-admin {
  .message__inner {
    border-radius: 0;
    border-bottom-right-radius: 7px;
  }
}

.select-file {
  height: 100%;

  label {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
