<template>
  <div class="container">
    <q-pull-to-refresh
      @refresh="this.$emit('refreshList', $event)"
      color="primary"
      bg-color="dark"
      scroll-target=".content"
    >
      <div class="offers">
        <template v-if="this.finished?.length">
          <VCard
            v-for="finish in this.finished"
            :key="finish.id"
            :card="finish"
          />
        </template>
        <template v-else>
          <v-refresh
            :title="'No finished rides yet'"
            :subtitle="'Once you complete a ride it will be shown here.'"
            :icon="require('../static/images/icons/not-finished.svg')"
          />
        </template>
      </div>
    </q-pull-to-refresh>
  </div>
</template>

<script>
import VCard from 'components/CardComponent.vue'
import { mapGetters } from 'vuex'
import VRefresh from 'components/v-refresh'

export default {
  name: 'p-finished',
  components: { VRefresh, VCard },
  computed: {
    ...mapGetters({
      finished: 'modules/getFinished'
    })
  }
}
</script>

<style scoped>
</style>
