<template>
  <GeolocationInformationSlide />
</template>

<script>
import GeolocationInformationSlide from 'components/GeolocationInformationSlide'
export default {
  name: 'GeolocationSlidePage',
  components: { GeolocationInformationSlide }
}
</script>

<style scoped>

</style>
