<template>
  <div class="home">
    <div class="container">
      <q-pull-to-refresh
        @refresh="this.$emit('refreshList', $event)"
        color="primary"
        bg-color="dark"
        scroll-target=".content"
      >
        <h2 class="home-title home-title-first">Welcome Back,</h2>
        <h2 class="home-title">
          <span style="text-transform: capitalize"
            >{{ getUser.profile?.first_name }}&nbsp;</span
          >
          <span style="text-transform: capitalize">{{
            getUser.profile?.last_name
          }}</span>
        </h2>
        <div class="news">
          <div class="news__header">
            <img src="../static/images/icons/Star.svg" alt="Star" />
            <span class="title">News</span>
          </div>
          <div class="news__content">
            <div>TOP 10 conditions for drivers,</div>
            <span
              >who want to get to the top of their rating and thus get a larger
              volume of trips.</span
            >
          </div>
        </div>
        <div>
          <template v-if="filteredPlanned.length">
            <VCard
              v-for="route in filteredPlanned"
              :key="route.id"
              :card="route"
              :is-coming="true"
              @click="this.openOffer(route.id)"
            />
          </template>
          <div class="no-rides" v-else>You have no rides for today</div>
        </div>
      </q-pull-to-refresh>
    </div>
    <transition name="anime-btn">
      <div v-if="showButton" class="chat__btn">
        <q-btn @click="$router.push('/chat')" size="xs">
          <img src="../static/images/icons/chat.svg" alt="chat" />
          <span>Chat</span>
        </q-btn>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import VCard from 'components/CardComponent.vue'
import { diffHoursFromNow } from 'src/helpers/diffDates'

export default {
  name: 'p-home',
  components: { VCard },
  data () {
    return {
      showButton: false
    }
  },
  computed: {
    ...mapGetters({
      getUser: 'modules/getUser',
      planneds: 'modules/getPlanned'
    }),
    filteredPlanned () {
      return this.planneds.filter(item => diffHoursFromNow(item.route_date) <= 24)
    }
  },
  methods: {
    openOffer (id) {
      this.$router.push('/offer/' + id)
    }
  },
  created () {
    setTimeout(() => {
      this.showButton = true
    }, 1000)
  }
}
</script>

<style scoped lang="scss">
.chat__btn {
  position: fixed;
  bottom: 90px;
  right: 20px;
  display: flex;
  button {
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    height: 48px;
    background: #ffffff1a;
    img {
      margin-right: 10px;
    }
    span {
      font-family: "Inter", sans-serif;
      text-transform: none;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: #fff;
    }
  }
}
.anime-btn-enter-active,
.anime-btn-leave-active {
  transition: opacity 0.5s ease;
}

.anime-btn-enter-from,
.anime-btn-leave-to {
  opacity: 0;
}
.home-title {
  color: #fff;
  font-size: 24px;
  font-family: Ubuntu, sans-serif;
  font-weight: 600;
}
.news {
  width: 100%;
  background: #2e3237;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding: 15px;
  margin: 15px 0;
  &__header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    .title {
      font-family: Ubuntu, sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      color: #fff;
      padding-left: 10px;
    }
  }
  &__content {
    span {
      font-family: Ubuntu, sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 14px;
      color: #fff8;
    }
    div {
      font-family: Ubuntu, sans-serif;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
    }
  }
}
.home-title-first {
  font-weight: 400;
}
.no-rides {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #fff8;
}
</style>
