<template>
  <q-page class="flex flex-center column">
    <div class="qwe">qwe</div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'IndexPage'
})
</script>
<style scoped lang="scss">
.my-card {
  width: 100%;
  max-width: 250px;
}
</style>
