<template>
  <q-page class="flex flex-center column">
    <div class="form">
      <div class="login__inner">
        <div
          class="login__title"
          :class="{ 'margin-title': !errors.message?.length }"
        >
          <h2>Welcome</h2>
          <span>Log in to start driving with mytripliner</span>
        </div>
        <div v-if="errors.message?.length" class="err">
          <span>Error logging in</span>
        </div>
        <form @submit.prevent.stop="sendFormLogin" class="q-gutter-md">
          <div class="login__email">
            <q-input
              color="primary"
              bg-color="white"
              filled
              v-model="email"
              ref="emailRef"
              lazy-rules
              :rules="emailRules"
              label="Email"
              @focus="emailFocus()"
              @blur="emailBlur()"
            >
              <template v-slot:prepend>
                <img
                  style="height: 15px"
                  src="../static/images/icons/email.svg"
                  alt="email"
                />
              </template>
            </q-input>
          </div>
          <div class="login__password">
            <q-input
              color="primary"
              bg-color="white"
              filled
              v-model="password"
              ref="passwordRef"
              lazy-rules
              :rules="passwordRules"
              label="Password"
              type="password"
              @focus="passwordFocus()"
              @blur="passwordBlur()"
            >
              <template v-slot:prepend>
                <img
                  style="height: 18px"
                  src="../static/images/icons/password.svg"
                  alt="email"
                />
              </template>
            </q-input>
            <div v-if="errors.password.length" class="error">
              <span>{{ errors.password[0] }}</span>
            </div>
          </div>
          <div class="login__btn">
            <q-btn
              size="md"
              padding="sm"
              color="primary"
              glossy
              text-color="white"
              label="Sign in"
              class="login-btn"
              type="submit"
            />
          </div>
        </form>
        <div class="q-pa-xs q-gutter-sm center">
          <span @click="open('bottom')" class="forgot-password__btn"
          >Forgot password?</span
          >
          <q-dialog
            v-model="dialog"
            class="dialog-window"
            rounded
            :position="position"
          >
            <q-card
              style="
                width: 350px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                padding: 20px 0 40px 0;
              "
              v-touch-swipe="closeMenu"
            >
              <div class="top-line">
                <hr
                  style="
                    border: none;
                    background: #c4c4c4;
                    border-radius: 6px;
                    height: 5px;
                    width: 40%;
                    margin: 0 auto 20px auto;
                  "
                />
              </div>
              <q-card-section class="row items-center no-wrap">
                <div class="forgot-password">
                  <div class="forgot-password__text">
                    <div class="forgot-password__text_title">
                      <h2 v-if="stepForgotPassword === 'verifyEmail'">
                        Forgot password
                      </h2>
                      <h2
                        v-if="
                          stepForgotPassword === 'checkCode' ||
                          stepForgotPassword === 'newPassword'
                        "
                      >
                        Reset Password
                      </h2>
                      <h2 v-if="stepForgotPassword === 'successful'">
                        Reset successful
                      </h2>
                    </div>
                    <br/>
                    <div class="forgot-password__text_content">
                      <span
                        v-if="
                          stepForgotPassword === 'verifyEmail' ||
                          stepForgotPassword === 'checkCode'
                        "
                      >Enter your email for the verification proccesss, we
                        will send 4 digits code to your email.</span
                      >
                      <span v-if="stepForgotPassword === 'newPassword'"
                      >Set the new password for your account so you can login
                        and access all the features.</span
                      >
                      <span v-if="stepForgotPassword === 'successful'"
                      >You can now log in to your account
                      </span>
                    </div>
                  </div>
                  <br/>
                  <br/>
                  <br/>
                  <form
                    :class="{
                      'form-margin-top': stepForgotPassword !== 'newPassword',
                    }"
                  >
                    <div
                      class="forgot-password__email"
                      v-if="stepForgotPassword === 'verifyEmail'"
                    >
                      <q-input
                        color="primary"
                        bg-color="input-color2"
                        filled
                        v-model="emailVerify"
                        ref="emailVerifyRef"
                        lazy-rules
                        :rules="emailRules"
                        label="Email"
                      >
                        <template v-slot:prepend>
                          <img
                            style="height: 15px"
                            src="../static/images/icons/email.svg"
                            alt="email"
                          />
                        </template>
                      </q-input>
                    </div>
                    <div
                      class="forgot-password__code"
                      v-if="stepForgotPassword === 'checkCode'"
                    >
                      <input
                        @input="changeCode(1, $event)"
                        @keyup.delete="changeCode(1, $event)"
                        :class="{ invalid__code: errors.invalidCode }"
                        v-model="codeInputs[0]"
                        name="code1"
                        ref="code1"
                        type="number"
                      />
                      <input
                        @input="changeCode(2, $event)"
                        @keyup.delete="changeCode(2, $event)"
                        :class="{ invalid__code: errors.invalidCode }"
                        v-model="codeInputs[1]"
                        name="code2"
                        ref="code2"
                        type="number"
                      />
                      <input
                        @input="changeCode(3, $event)"
                        @keyup.delete="changeCode(3, $event)"
                        :class="{ invalid__code: errors.invalidCode }"
                        v-model="codeInputs[2]"
                        name="code3"
                        ref="code3"
                        type="number"
                      />
                      <input
                        @input="changeCode(4, $event)"
                        @keyup.delete="changeCode(4, $event)"
                        :class="{ invalid__code: errors.invalidCode }"
                        v-model="codeInputs[3]"
                        name="code4"
                        ref="code4"
                        type="number"
                      />
                    </div>
                    <div
                      v-if="stepForgotPassword === 'checkCode'"
                      class="resend-code"
                    >
                      <span
                      >If you didn’t receive a code,
                        <span @click="resendCode" v-if="resendTimer === 0"
                        >Resend</span
                        ><span v-else>{{ resendTimer }}</span></span
                      >
                    </div>
                    <div
                      v-if="
                        errors.invalidCode && stepForgotPassword === 'checkCode'
                      "
                      class="error"
                      style="margin-left: 8%"
                    >
                      <span>Attention. Please check code</span>
                    </div>
                    <div
                      class="forgot-password__password"
                      v-if="stepForgotPassword === 'newPassword'"
                    >
                      <q-input
                        color="primary"
                        bg-color="input-color2"
                        filled
                        v-model="newPassword"
                        ref="newPasswordRef"
                        lazy-rules
                        :rules="passwordRules"
                        label="NEW Password"
                        :type="passwordType"
                        style="margin-bottom: 6px"
                      >
                        <template v-slot:prepend>
                          <img
                            style="height: 18px"
                            src="../static/images/icons/password.svg"
                            alt="password"
                          />
                        </template>
                        <template v-slot:append>
                          <img
                            @click="togglePasswordType('passwordType')"
                            src="../static/images/icons/togglePassword.svg"
                            alt="password"
                          />
                        </template>
                      </q-input>
                      <q-input
                        color="primary"
                        bg-color="input-color2"
                        filled
                        v-model="newPasswordConfirm"
                        ref="newPasswordConfirmRef"
                        lazy-rules
                        :rules="newPasswordConfirmRules"
                        label="Re-enter Password"
                        :type="passwordConfirmType"
                      >
                        <template v-slot:prepend>
                          <img
                            style="height: 18px"
                            src="../static/images/icons/password.svg"
                            alt="password"
                          />
                        </template>
                        <template v-slot:append>
                          <img
                            @click="togglePasswordType('passwordConfirmType')"
                            src="../static/images/icons/togglePassword.svg"
                            alt="password"
                          />
                        </template>
                      </q-input>
                    </div>
                    <div v-if="errors.messageVerify.length" class="error">
                      <span>{{ errors.messageVerify }}</span>
                    </div>
                    <br v-if="stepForgotPassword !== 'checkCode'"/>
                    <div class="forgot-password__continue">
                      <q-btn
                        @click.prevent="forgotPassword()"
                        size="md"
                        padding="sm"
                        color="primary"
                        glossy
                        text-color="white"
                        style="width: 100%"
                        label="Continue"
                        type="submit"
                      />
                    </div>
                  </form>
                </div>
              </q-card-section>
            </q-card>
          </q-dialog>
        </div>
      </div>
    </div>
    <transition name="reg">
      <div class="reg" v-if="isShowRegLink">
        <span>Don’t have an account yet?</span>
        <a href="https://mytripline.com/become-a-partner">Become a Partner</a>
      </div>
    </transition>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue'
import connectPushNotification from 'src/mixins/connectPushNotification.js'
import connectGPS from 'src/mixins/connectGPS.js'

export default defineComponent({
  name: 'p-login',
  data () {
    return {
      passwordAgain: '',
      isChangePassword: false,
      stepForgotPassword: 'verifyEmail',
      isCheckEmail: false,
      passwordType: 'password',
      passwordConfirmType: 'password',
      codeInputs: ['', '', '', ''],
      resendTimer: 60,
      errors: {
        email: [],
        emailVerify: [],
        password: [],
        passwordAgain: [],
        invalidCode: false,
        login: false,
        message: '',
        messageVerify: ''
      },
      isShowRegLink: true
    }
  },
  mixins: [connectPushNotification, connectGPS],
  setup () {
    const dialog = ref(false)
    const position = ref('bottom')

    const email = ref(null)
    const emailRef = ref(null)

    const password = ref(null)
    const passwordRef = ref(null)

    const newPassword = ref(null)
    const newPasswordRef = ref(null)

    const newPasswordConfirm = ref(null)
    const newPasswordConfirmRef = ref(null)

    const emailVerify = ref(null)
    const emailVerifyRef = ref(null)

    const accept = ref(false)

    const code = ref(null)

    return {
      dialog,
      position,
      email,
      emailRef,
      emailVerify,
      emailVerifyRef,
      newPassword,
      newPasswordRef,
      code,
      emailRules: [
        (val) =>
          (val !== null && val.length > 0) || 'Please fill out this field.',
        (val) =>
          (val !== null &&
            /^(([^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*)|(".+"))@(([^<>()[\].,;:\s@"]+\.)+[^<>()[\].,;:\s@"]{2,})$/iu.test(
              val
            )) ||
          'Only email'
      ],
      password,
      passwordRef,
      newPasswordConfirm,
      newPasswordConfirmRef,
      passwordRules: [
        (val) =>
          (val !== null && val.length > 0) || 'Please fill out this field.'
        // (val) =>
        //   (val !== null &&
        //     /(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])/.test(val.toString())) ||
        //   'Your password must be at least 6 characters long, including one uppercase letter and one number.'
      ],
      newPasswordConfirmRules: [
        (val) =>
          (val !== null && val === newPassword.value) || 'Mismatched passwords'
      ],
      accept,

      sendFormLogin () {
        emailRef.value.validate()
        passwordRef.value.validate()
        if (!emailRef.value.hasError && !passwordRef.value.hasError) {
          this.regPartner()
        }
      },
      async checkEmail () {
        this.isCheckEmail = false
        emailVerifyRef.value.validate()
        if (!emailVerifyRef.value.hasError) {
          this.$store.commit('modules/setLoadingStatus', true)
          return await this.$api.post('user/forgot-password', {
            email: this.emailVerify
          })
        }
      },
      checkValidationCode () {
        return !(code.value.toString().length < 4)
      },
      async sendNewPassword () {
        newPasswordRef.value.validate()
        newPasswordConfirmRef.value.validate()
        if (
          !newPasswordRef.value.hasError &&
          !newPasswordConfirmRef.value.hasError
        ) {
          this.$store.commit('modules/setLoadingStatus', true)
          return await this.$api.post('user/update-password', {
            email: this.emailVerify,
            password: this.newPassword,
            checkStatusCode: 1
          })
        }
      },
      open (pos) {
        position.value = pos
        dialog.value = true
      },
      closeMenu (obj) {
        if (obj.direction === 'down' && obj.distance.y > 5) {
          dialog.value = false
        }
      }
    }
  },
  methods: {
    regPartner () {
      const user = {
        email: this.email,
        password: this.password
      }
      this.$store.commit('modules/setLoadingStatus', true)
      this.$api.post('user/login', user).then((resp) => {
        if (resp.data.status) {
          localStorage.setItem('token', resp.data.token)
          localStorage.setItem('auth_token', resp.data.auth_token)
          const roles = {
            3: 'user',
            4: 'partner',
            5: 'driver'
          }
          const user = resp.data.user
          user.role = user.isAdmin ? 'admin' : roles[user.role_id]
          this.$store.commit('modules/SET_USER', user)
          this.connectPushNotification(resp.data.user)
          // this.connectGPS()
          this.$store.dispatch('modules/getBookings')
          if (localStorage.getItem('GEO_AGREED') === '1') {
            this.$router.push('/home')
          } else {
            this.$router.push('/geo')
          }
          cordova.Keychain.set(
            this.keyChainLog,
            this.keyChainFail,
            'password',
            this.login,
            true
          )
          cordova.Keychain.set(
            this.keyChainLog,
            this.keyChainFail,
            'password',
            this.password,
            true
          )
        } else {
          this.errors.message = resp.data.message
        }
        this.$store.commit('modules/setLoadingStatus', false)
      })
    },
    togglePasswordType (name) {
      if (this[name] === 'password') {
        this[name] = 'text'
      } else {
        this[name] = 'password'
      }
    },
    async checkCode () {
      this.$store.commit('modules/setLoadingStatus', true)
      return await this.$api.post('user/check-code', {
        email: this.emailVerify,
        code: this.code
      })
    },
    changeCode (currentInput, event) {
      if (currentInput < 4 && event.inputType === 'insertText') {
        if (this.codeInputs[currentInput - 1].toString().length >= 2) {
          this.codeInputs[currentInput - 1] = Number(
            this.codeInputs[currentInput - 1].toString()[this.codeInputs[currentInput - 1].toString().length - 1]
          )
        }
        this.$refs[`code${currentInput + 1}`].focus()
      } else if (
        currentInput > 1 &&
        (event.inputType === 'deleteContentBackward' || event.type === 'keyup')
      ) {
        if (event.type === 'keyup') {
          if (!this.codeInputs[currentInput - 1]) {
            this.$refs[`code${currentInput - 1}`].focus()
          }
        } else {
          this.$refs[`code${currentInput - 1}`].focus()
        }
      }
      if (currentInput === 4 && this.codeInputs[3] !== '<empty string>') {
        this.codeInputs[currentInput - 1] = Number(
          this.codeInputs[3].toString()[this.codeInputs[3].toString().length - 1]
        )
      }
    },
    resendTimerStart () {
      this.resendTimer = 60
      const timer = setInterval(() => {
        if (this.resendTimer !== 0) {
          --this.resendTimer
        } else {
          clearInterval(timer)
        }
      }, 1000)
    },
    resendCode () {
      this.$api.post('user/forgot-password', { email: this.emailVerify })
      this.resendTimerStart()
    },
    forgotPassword () {
      this.errors.messageVerify = ''
      if (this.stepForgotPassword === 'verifyEmail') {
        this.checkEmail().then((resp) => {
          this.$store.commit('modules/setLoadingStatus', false)
          if (resp.data.status) {
            this.stepForgotPassword = 'checkCode'
            this.resendTimerStart()
          } else {
            this.errors.messageVerify = resp.data.message
          }
        })
      }
      if (this.stepForgotPassword === 'checkCode') {
        if (this.checkValidationCode()) {
          this.checkCode().then((resp) => {
            this.$store.commit('modules/setLoadingStatus', false)
            if (resp.data.status) {
              this.stepForgotPassword = 'newPassword'
            } else {
              this.errors.messageVerify = resp.data.message
            }
          })
        } else {
          this.errors.invalidCode = true
        }
      }
      if (this.stepForgotPassword === 'newPassword') {
        this.sendNewPassword().then((resp) => {
          this.$store.commit('modules/setLoadingStatus', false)
          if (resp.data.status) {
            this.stepForgotPassword = 'successful'
          } else {
            this.errors.messageVerify = resp.data.message
          }
        })
      }
      if (this.stepForgotPassword === 'successful') {
        this.dialog = false
        this.stepForgotPassword = 'verifyEmail'
      }
    },
    hideRegLink () {
      const data = this
      data.isShowRegLink = false
    },
    emailFocus () {
      this.hideRegLink()
      cordova.Keychain.get(
        this.setLoginFromKeyChain,
        this.keyChainFail,
        'login',
        this.email,
        'Touch ID login'
      )
      cordova.Keychain.get(
        this.setPasswordFromKeyChain,
        this.keyChainFail,
        'password',
        this.password,
        'Touch ID login'
      )
    },
    passwordFocus () {
      this.hideRegLink()
      cordova.Keychain.get(
        this.setLoginFromKeyChain,
        this.keyChainFail,
        'login',
        this.email,
        'Touch ID login'
      )
      cordova.Keychain.get(
        this.setPasswordFromKeyChain,
        this.keyChainFail,
        'password',
        this.password,
        'Touch ID login'
      )
    },
    emailBlur () {
      this.isShowRegLink = true
      // cordova.plugins.clipboard.clear()
    },
    keyChainLog (e) {
      console.log(e)
    },
    setLoginFromKeyChain (e) {
      this.email = e
    },
    setPasswordFromKeyChain (e) {
      this.password = e
      this.regPartner()
    },
    keyChainFail (e) {
      console.log(e)
    },
    passwordBlur () {
      this.isShowRegLink = true
      // cordova.plugins.clipboard.clear()
    }
  },
  watch: {
    codeInputs: {
      handler: function (val) {
        this.errors.invalidCode = false
        this.code = val.join('')
      },
      deep: true
    }
  }
})
</script>

<style scoped lang="scss">
.form {
  width: 80%;
}

.login {
  &__inner {
    width: 100%;
    height: 100%;
    color: #fff;
  }

  &__email,
  &__password,
  &__password_again,
  &__btn {
    width: 100%;
    margin-bottom: 7px;

    input,
    button {
      font-size: 13px;
      line-height: 22px;
      padding: 16px 18px 11px 18px;
      width: 100%;
      background: #f8f8f8;
      border-radius: 7px;
      border: none;
    }

    button {
      background: #03acd1;
      font-family: "Inter", sans-serif;
      font-size: 19px;
      line-height: 27px;
      cursor: pointer;
      transition: 0.2s ease;

      span {
        color: #fff;
      }

      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) inset;
      }
    }
  }

  &__title {
    margin-bottom: 17px;

    h2,
    span {
      font-family: "InterMedium", sans-serif;
    }
  }

  &__description {
    margin-bottom: 12px;

    span {
      font-family: "InterMedium", sans-serif;
      font-size: 15px;
      line-height: 17px;
    }
  }

  &__routes {
    a,
    span {
      text-decoration: none;
      color: #999999;
      font-family: "Inter", sans-serif;
      font-style: normal;
      text-align: center;
    }

    a {
      transition: color 0.5s ease;

      &:hover {
        color: #e88a33;
      }
    }
  }
}

.error__login {
  width: 100%;
  background: #cb4e48;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;

  span {
    color: #000000;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
  }
}

.q-field.row.no-wrap.items-start.q-field--filled.q-input.q-field--float.q-field--labeled.q-field--with-bottom {
  opacity: 0.9;
}

.forgot-password {
  padding: 0 24px;
  width: 100%;
}

.forgot-password__btn {
  line-height: 14px;
  color: rgb(136, 136, 136);
  cursor: pointer;
}

.forgot-password__code {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: 0 auto;

  input {
    background: #fff;
    border: 0.8px solid rgba(103, 114, 148, 0.16);
    border-radius: 12px;
    width: 54px;
    height: 54px;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    color: $primary;
  }
}

.invalid__code {
  border: 0.8px solid rgba(203, 78, 72, 0.37) !important;
}

.reg {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 60px;

  span {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(136, 136, 136);
    font-size: 16px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 6px;
  }

  a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: $primary;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.forgot-password__text_content {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  letter-spacing: -0.003em;
  color: #677294;
}

.login__inner form {
  margin-top: 17px;
}

.err {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  background: #cb4e48;
  border-radius: 7px;

  span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
}

.margin-title {
  margin-bottom: 60px;
}

.resend-code {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 9px 0;

  & > span {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.003em;
    color: #677294;

    & > span {
      color: rgba(9, 140, 100, 1);
      cursor: pointer;
    }
  }
}

.form-margin-top {
  margin-top: 20px;
}

.reg-enter-active {
  transition: opacity 0.3s;
  transition-delay: 10ms;
}

.reg-enter-from {
  opacity: 0;
}

.reg-enter-to {
  opacity: 1;
}
</style>
