<template>
  <div class="container">
    <q-pull-to-refresh
      @refresh="this.$emit('refreshList', $event)"
      color="primary"
      bg-color="dark"
      scroll-target=".content"
    >
      <div class="offers">
        <template v-if="filteredOffers?.length">
          <VCard
            v-for="offer in filteredOffers"
            :key="offer.id"
            :card="offer"
            @getOffers="getOffers"
            :btn="'take'"
          />
        </template>
        <template v-else>
          <v-refresh
            :title="'No offers at the moment'"
            :subtitle="'All rides have been accepted <br/> You will see new ones as soon as they come.'"
            :icon="require('../static/images/icons/not-offers.svg')"
          />
        </template>
      </div>
    </q-pull-to-refresh>
  </div>
</template>

<script>
import VCard from 'components/CardComponent.vue'
import { mapGetters } from 'vuex'
import VRefresh from 'components/v-refresh'

export default {
  name: 'p-offers',
  components: {
    VRefresh,
    VCard
  },
  data () {
    return {
      scrollTop: 0
    }
  },
  computed: {
    ...mapGetters({
      offers: 'modules/getOffers'
    }),
    filteredOffers () {
      return this.offers.filter(item => item.status === 'market')
    }
  },
  methods: {
    setScrollTop (e) {
      this.scrollTop = e.srcElement.scrollTop
    }
  }
}
</script>

<style scoped>
</style>
