<template>
  <div class="offer" v-if="Object.keys(offer).length !== 0">
    <div class="offer__content">
      <div class="wrapper">
        <div class="offer__top-section">
          <div class="offer__top">
            <div class="offer__top-date">
              <img src="../static/images/icons/calendar.svg" alt="calendar"/>
              <span>{{ new Date(offer.route_date).toLocaleDateString() }}</span>
            </div>
            <div class="offer__top-time">
              <img src="../static/images/icons/time.svg" alt="time"/>
              <span>{{
                  offer.route_date.split(' ')[1].split(':')[0] +
                  ':' +
                  offer.route_date.split(' ')[1].split(':')[1]
                }}</span>
            </div>
            <div class="offer__top-passengers">
              <img
                src="../static/images/icons/passengers.svg"
                alt="passengers"
              />
              <span>{{ offer.adults }}</span>
            </div>
          </div>
        </div>
        <div class="offer__content-info-title">
          <span>Long distance</span>
        </div>
        <div class="card__content-info-routes">
          <div class="card__content-info-routes-item">
            <div class="map-vector map-vector-start">
              <img src="../static/images/icons/map-vector.svg" alt="map"/>
            </div>
            <div class="routes-item__address" style="line-height: 16px">
              <span style="font-size: 16px">{{ offer.pickup_address }}</span>
              <div
                class="offer__routes-item-btn"
                @click="openDialog1('pickup')"
              >
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <span class="line-routes">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div v-if="isDaytour" class="card__content-info-routes-item">
            <div class="map-vector map-vector-end" style="background: transparent">
              <img src="../static/images/icons/timer.svg" alt="map"/>
            </div>
            <div class="routes-item__address" style="line-height: 16px">
              <span style="font-size: 16px">{{ offer.daytour_duration }} hours</span>
            </div>
          </div>
          <div v-else class="card__content-info-routes-item">
            <div class="map-vector map-vector-end">
              <img src="../static/images/icons/map-vector.svg" alt="map"/>
            </div>
            <div class="routes-item__address" style="line-height: 16px">
              <span style="font-size: 16px">{{ offer.drop_off_address }}</span>
              <div
                class="offer__routes-item-btn"
                @click="openDialog1('drop-off')"
              >
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
        <div v-if="offer.places.length" class="extra-stops">
          <div class="title">
            <div class="icon">
              <img
                src="../static/images/icons/extra-stops.svg"
                alt="extra-stops"
              />
            </div>
            <span>Extra stops</span>
          </div>
          <div class="stops">
            <ul>
              <li v-for="place in offer.places" :key="place.id">
                <span>{{ place.title_en }}</span
                ><span>{{ place.durations }}min.</span>
              </li>
            </ul>
          </div>
          <div class="warning" v-if="offer.vehicle !== null">
            <div class="icon">
              <img src="../static/images/icons/warning.svg" alt="warning"/>
            </div>
            <span class="warning-color">
              IMPORTANT!<br/>Keep on mind that, in case you will use different
              car than the assigned one, 100% penalty will be applied.
            </span>
          </div>
        </div>
        <div
          v-if="errorChangeDriver"
          style="margin-top: 20px !important"
          class="error error__change_driver"
        >
          <div class="icon">
            <img src="../static/images/icons/error.svg" alt="error"/>
          </div>
          <span
            style="
              font-size: 8px;
              font-style: normal;
              font-weight: 400;
              font-family: Roboto, 'sans-serif';
            "
          >
            The departure of this trip is in less than 24 hours, if you need to
            change the driver and vehicle, you have to contact Driver chat.
          </span>
        </div>
        <div v-if="getUser.role !== 'driver'" class="selects">
          <div
            class="ride__item select select__touch form__btn_select"
            ref="select"
            style="z-index: 100000"
          >
            <button
              style="height: 100%; width: 100%; display: flex"
              :disabled="isDisableDriver"
              class="select__touch"
              @click.stop="
                toggleSelect(
                  'driver',
                  driver?.first_name?.length || offer.driver !== null
                )
              "
            >
              <img
                class="ride__item-img select__touch"
                src="../static/images/icons/avatar.svg"
                alt="avatar"
              />
              <button class="select__touch" type="button" id="driver">
                <span
                  v-if="offer.driver === null && !driver?.first_name?.length"
                  class="ride__item_label select__touch warning-color"
                >Select driver</span
                >
                <span class="select__touch"
                >{{ driver.first_name }} {{ driver.last_name }} <span v-if="driver.user_id === getUser.id"> (You)</span>
                </span
                >
                <img
                  class="select__arrow select__touch"
                  src="../static/images/icons/select-arrow.svg"
                  alt="select"
                />
              </button>
            </button>
            <transition name="anime-select">
              <div
                class="countries select__options select__touch"
                v-if="selects.driver"
                style="z-index: 100000"
              >
                <ul
                  class="country__list select__options_list select__touch"
                  @scroll="
                    timerCloseSelect(
                      'driver',
                      driver?.first_name?.length || offer.driver !== null
                    )
                  "
                >
                  <template v-for="driver in drivers" :key="driver.id">
                    <li
                      v-if="driver.state === 'Approved'"
                      @click="changeSelectDriver(driver)"
                      class="country__item select__options_item select__touch"
                    >
                      {{ driver.first_name }} {{ driver.last_name }} {{ driver.user_id === getUser.id ? ' (You)' : '' }}
                    </li>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
          <div
            class="ride__item select select__touch form__btn_select"
            ref="select"
            style="z-index: 10000"
          >
            <button
              style="height: 100%; width: 100%; display: flex"
              :disabled="isDisableVehicle"
              class="select__touch"
              @click.stop="
                toggleSelect(
                  'vehicle',
                  vehicle.licence?.length || offer.vehicle !== null
                )
              "
            >
              <img
                class="ride__item-img select__touch"
                src="../static/images/icons/vehicle.svg"
                alt="avatar"
              />
              <button class="select__touch" type="button" id="vehicle">
                <span
                  v-if="offer.vehicle === null && !vehicle.licence?.length"
                  class="ride__item_label select__touch warning-color"
                >Select vehicle</span
                >
                <span class="select__touch">{{ vehicle.licence }}</span>
                <img
                  class="select__arrow select__touch"
                  src="../static/images/icons/select-arrow.svg"
                  alt="select"
                />
              </button>
            </button>
            <transition name="anime-select">
              <div
                class="countries select__options select__touch"
                v-if="selects.vehicle"
                style="z-index: 10000"
              >
                <ul
                  class="country__list select__options_list select__touch"
                  @scroll="
                    timerCloseSelect(
                      'vehicle',
                      vehicle.licence?.length || offer.vehicle !== null
                    )
                  "
                >
                  <template v-for="vehicle in vehicles" :key="vehicle.id">
                    <li
                      v-if="vehicle.state === 'Approved'"
                      @click="changeSelectVehicle(vehicle)"
                      class="country__item select__options_item select__touch"
                    >
                      {{ vehicle.licence }}
                    </li>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
        </div>
        <div class="offer__info">
          <div class="offer__info-item">
            <div class="icon">
              <img
                src="../static/images/icons/passenger-name.svg"
                alt="passenger-name"
              />
            </div>
            <span class="offer__info-item-value"
            >{{ offer.first_name }} {{ offer.last_name }}</span
            >
          </div>
          <div class="offer__info-item">
            <div class="icon">
              <img
                src="../static/images/icons/passenger-name-mr.svg"
                alt="passenger-name"
              />
            </div>
            <span class="offer__info-item-value">{{ offer.last_name }}</span>
          </div>
          <div class="offer__info-item" v-if="offer.payment_type === 2">
            <div class="icon">
              <img src="../static/images/icons/pay-cash.svg" alt="pay-cash"/>
            </div>
            <span class="offer__info-item-value"
            >Pay in cash {{ calculatePrice(offer.amount) }}€</span
            >
          </div>
          <div class="offer__info-item" v-if="offer.payment_type === 1">
            <div class="icon">
              <img
                src="../static/images/icons/pay-online.svg"
                alt="pay-online"
              />
            </div>
            <span class="offer__info-item-value"
            >Paid online {{ calculatePrice(offer.amount) }}</span
            >
          </div>
          <div class="offer__info-item">
            <div class="icon">
              <img src="../static/images/icons/vehicle.svg" alt="vehicle"/>
            </div>
            <span class="offer__info-item-value">{{
                offer.get_cars[0].title.toLowerCase()
              }}</span>
          </div>
          <div class="offer__info-item" v-if="offer.comment.length">
            <div class="icon">
              <img src="../static/images/icons/comment.svg" alt="comment"/>
            </div>
            <span class="offer__info-item-value">{{ offer.comment }}</span>
          </div>
          <div class="offer__info-item">
            <div class="icon">
              <img
                src="../static/images/icons/booking-number.svg"
                alt="booking-number"
              />
            </div>
            <span class="offer__info-item-value">{{ offer.id }}</span>
          </div>
        </div>
      </div>
    </div>
    <q-dialog v-model="dialog" rounded :position="'bottom'">
      <q-card
        style="
          width: 350px;
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
          padding: 20px 0 40px 0;
          background: #171b1e;
        "
        v-touch-swipe="closeMenu"
      >
        <div class="top-line">
          <hr
            style="
              border: none;
              background: #c4c4c4;
              border-radius: 6px;
              height: 5px;
              width: 40%;
              margin: 0 auto 20px auto;
            "
          />
        </div>
        <q-card-section class="row items-center no-wrap">
          <div class="select__buttons select__location">
            <span>{{ currentLocation }} location</span>
            <button @click="openMap(currentLocation, 'google')">
              Open in Google Maps
            </button>
            <button @click="openMap(currentLocation, 'apple')">
              Open in Apple Maps
            </button>
            <button @click="openMap(currentLocation, 'waze')">
              Open in Waze Maps
            </button>
            <button @click="copyPlace(currentLocation)">Copy</button>
            <button @click="closeMenu(null, 'btn')">Close</button>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialog2" rounded :position="'bottom'">
      <q-card
        style="
          width: 350px;
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
          padding: 20px 0 40px 0;
          background: #171b1e;
        "
        v-touch-swipe="closeMenu"
      >
        <div class="top-line">
          <hr
            style="
              border: none;
              background: #c4c4c4;
              border-radius: 6px;
              height: 5px;
              width: 40%;
              margin: 0 auto 20px auto;
            "
          />
        </div>
        <q-card-section class="row items-center no-wrap">
          <div class="select__buttons select__extras">
            <button
              :disabled="getDiffDates(offer.route_date) > 24"
              @click="callPassenger()"
            >
              Call Passenger
            </button>
            <button
              :disabled="
                getUser.role === 'driver' || getDiffDates(offer.route_date) < 48
              "
              @click="this.$router.push(`/offer/remove/${offer.id}`)"
            >
              Emergency cancel
            </button>
            <button @click="this.$router.push('/chat')">
              Chat with mytripline
            </button>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <teleport to=".q-page-container">
      <q-footer class="bottom-offer">
        <transition name="actions-anime">
          <div class="offer__actions">
            <div class="container">
              <span
                class="offer__actions-title"
                v-if="!isGeolocationAccessed"
              >Allow location access set to "Always" to be able to perform rides</span>
              <span
                class="offer__actions-title"
                v-else-if="getDiffDates(offer.route_date) > 24"
              >Your ride only starts in 24 hours, so it is not possible to
                start this ride at this moment.</span
              >
              <span
                class="offer__actions-title"
                v-else-if="(getUser.role !== 'driver' && driver.user_id !== getUser.id) && statusJob === 'start'"
              >Only the assigned driver can perform this action.</span
              >
              <div class="offer__actions-btns">
                <q-btn
                  :disable="getUser.role !== 'driver' && driver.user_id !== getUser.id"
                  v-if="statusJob === 'start'"
                  size="xs"
                  class="action-btn"
                  @click="changeStatusJob()"
                >Arrived to destination
                </q-btn
                >
                <q-btn
                  v-else-if="statusJob === 'arrived_to_destination'"
                  size="xs"
                  class="action-btn"
                  @click="changeStatusJob()"
                >Passenger on board
                </q-btn
                >
                <q-btn
                  v-else-if="
                    statusJob === 'passenger_on_board' ||
                    statusJob === 'ride_completed' ||
                    statusJob === 'finished'
                  "
                  size="xs"
                  class="action-btn"
                  @click="changeStatusJob()"
                >Ride completed
                </q-btn
                >
                <q-btn
                  v-else-if="!isGeolocationAccessed"
                  size="xs"
                  class="action-btn"
                  @click="goToLocationSettings"
                >
                  Go to Setting
                </q-btn>
                <q-btn
                  :disable="getDiffDates(offer.route_date) > 24 || !offer.vehicle"
                  v-else
                  size="xs"
                  class="action-btn"
                  @click="changeStatusJob()"
                >Start job
                </q-btn>
              </div>
            </div>
          </div>
        </transition>
      </q-footer>
    </teleport>

    <teleport to=".header__btn-right">
      <button @click="openDialog2()" class="extras-btn position-right">
        <img src="../static/images/icons/extras.svg" alt="extras"/>
      </button>
    </teleport>
  </div>
</template>

<script>
import { Dialog } from '@capacitor/dialog'
import { NativeSettings, AndroidSettings, IOSSettings } from 'capacitor-native-settings'
import NormalizeDate from 'src/mixins/normalizeDate'
import { mapGetters } from 'vuex'
import toggleSelects from 'src/mixins/toggleSelects'
import { ref } from 'vue'
import calculatePrice from 'src/mixins/calculatePrice'
import connectGPS from 'src/mixins/connectGPS'
import { diffHoursFromNow } from 'src/helpers/diffDates'

export default {
  name: 'p-offer',
  mixins: [NormalizeDate, toggleSelects, calculatePrice, connectGPS],
  computed: {
    ...mapGetters({
      getUser: 'modules/getUser'
    }),
    isDaytour () {
      return this.offer.type === 'daytour'
    },
    fromCityName () {
      if (this.isDaytour) {
        return this.offer.daytour_city.name
      }
      return this.offer.route.from_city?.name || '-'
    },
    fromCountryName () {
      if (this.isDaytour) {
        return this.offer.daytour_country.name
      }
      return this.offer.route.from_country?.name || '-'
    }
  },
  setup () {
    const dialog = ref(false)
    const dialog2 = ref(false)
    const currentLocation = ref('')
    return {
      dialog,
      dialog2,
      currentLocation,
      openDialog1 (location) {
        dialog.value = true
        if (location !== undefined) {
          currentLocation.value = location
        }
      },
      openDialog2 () {
        dialog2.value = true
      },
      closeMenu (obj, type) {
        if (
          type === 'btn' ||
          (obj.direction === 'down' && obj.distance.y > 5)
        ) {
          dialog.value = false
        }
      }
    }
  },
  data () {
    return {
      offer: {},
      driver: {},
      vehicle: {},
      vehicles: [],
      filteredVehicles: [],
      isLoadingVehicle: false,
      drivers: [],
      filteredDrivers: [],
      isLoadingDriver: false,
      vehicleName: '',
      driverName: '',
      statusJob: '',
      selects: {
        vehicle: false,
        driver: false
      },
      errorChangeDriver: false,
      driverCloseTimeout: null,
      vehicleCloseTimeout: null,
      isDisableDriver: false,
      isDisableVehicle: false,
      isGeolocationAccessed: false
    }
  },
  methods: {
    goToLocationSettings () {
      NativeSettings.open({
        optionAndroid: AndroidSettings.LocationServices,
        optionIOS: IOSSettings.App
      })
    },
    getOffer () {
      this.$api
        .post('bookings/get', { id: this.$route.params.id })
        .then((resp) => {
          this.offer = resp.data
          if (this.offer.vehicle !== null) {
            this.vehicle = this.offer.vehicle
            this.vehicleName = this.offer.vehicle?.licence || ''
          }
          if (this.offer.driver !== null) {
            this.driver = this.offer.driver
            this.driverName =
              `${this.driver.first_name} ${this.driver.last_name}` || ''
          }
          this.statusJob = resp.data.status_job
        })
    },
    getVehicles () {
      this.isLoadingVehicle = true
      this.$api
        .post('vehicles/all', { user_id: this.getUser.id })
        .then((resp) => {
          this.isLoadingVehicle = false
          this.vehicles = resp.data
        })
    },
    getDrivers () {
      this.isLoadingDriver = true
      this.$api
        .post('drivers/all', { partner_id: this.getUser.id })
        .then((resp) => {
          this.isLoadingDriver = false
          this.drivers = resp.data
        })
    },
    changeSelectDriver (driver) {
      if (this.driver.id !== driver.id) {
        if (!Object.keys(this.driver).length || diffHoursFromNow(this.offer.route_date) >= 24) {
          this.driver = driver
          this.updateVehicleAndDriver('driver', driver)
        } else {
          this.showSelectDateError('driver')
        }
      }
    },
    changeSelectVehicle (vehicle) {
      if (this.vehicle.id !== vehicle.id) {
        if (!Object.keys(this.vehicle).length || diffHoursFromNow(this.offer.route_date) >= 24) {
          this.vehicle = vehicle
          this.updateVehicleAndDriver('vehicle', vehicle)
        } else {
          this.showSelectDateError('vehicle')
        }
      }
    },
    showSelectDateError (name) {
      this.errorChangeDriver = true
      if (name === 'driver') {
        this.isDisableDriver = true
        if (Object.keys(this.driver).length > 0) {
          this.isDisableVehicle = true
        }
      } else {
        this.isDisableVehicle = true
        if (Object.keys(this.vehicle).length > 0) {
          this.isDisableDriver = true
        }
      }
    },
    updateVehicleAndDriver (name, item) {
      this.$api.post('bookings/update-route-order', {
        id: this.offer.id,
        vehicle_id: this.vehicle?.id,
        driver: this.driver
      })
      this.changeSelect(name, item, name)
      // if (
      //   (!Object.keys(this.driver).length && name === 'driver') ||
      //   (!Object.keys(this.vehicle).length && name === 'vehicle') ||
      //   (!Object.keys(this.vehicle).length && !Object.keys(this.driver).length)
      // ) {
      //   this.$api.post('bookings/update-route-order', {
      //     id: this.offer.id,
      //     vehicle_id: this.vehicle?.id,
      //     driver: this.driver
      //   })
      //   this.changeSelect(name, item, name)
      // } else {
      //   this.errorChangeDriver = true
      //   if (name === 'driver') {
      //     this.isDisableDriver = true
      //     if (Object.keys(this.driver).length > 0) {
      //       this.isDisableVehicle = true
      //     }
      //   } else {
      //     this.isDisableVehicle = true
      //     if (Object.keys(this.vehicle).length > 0) {
      //       this.isDisableDriver = true
      //     }
      //   }
      // }
    },
    async changeStatusJob () {
      let newStatusJob, notificationText
      switch (this.statusJob) {
        case 'start':
          newStatusJob = 'arrived_to_destination'
          notificationText = 'The passenger will be notified.'
          break
        case 'arrived_to_destination':
          newStatusJob = 'passenger_on_board'
          notificationText = 'The passenger will be notified.'
          break
        case 'passenger_on_board':
          newStatusJob = 'ride_completed'
          notificationText =
            'I hereby confirm that the ride is being performed now.'
          break
        case 'ride_completed':
          newStatusJob = 'finished'
          notificationText = 'I hereby confirm that the ride is completed.'
          break
        default:
          newStatusJob = 'start'
          notificationText = 'The passenger will be notified.'
      }
      const { value } = await Dialog.confirm({
        title: 'Confirm',
        message: notificationText
      })
      if (value) {
        this.$api
          .post('bookings/update-route-order', {
            id: this.offer.id,
            status_job: newStatusJob,
            driver: this.driver?.id ? this.driver : (this.getUser.role === 'driver' ? this.getUser.profile : undefined),
            vehicle_id: this.vehicle?.id
          })
          .then((resp) => {
            if (!resp.data?.status) return
            this.statusJob = resp.data.orderRoute.status_job
            if (newStatusJob === 'ride_completed') {
              this.$store.commit('modules/setLoadingStatus', true)
              this.$api
                .post('bookings/update-status', {
                  id: this.offer.id,
                  user_id: this.getUser.id,
                  status: 'complete'
                })
                .then((data) => {
                  if (data.data.status) {
                    this.$store.dispatch('modules/getBookings').then(() => {
                      this.$router.push('/finished')
                      this.$store.commit('modules/setLoadingStatus', false)
                    })
                  }
                })
            }
          })
      }
    },
    getDiffDates (d) {
      const diff = (new Date(d).getTime() - new Date().getTime()) / 3600000
      return Math.floor(diff)
    },
    callPassenger () {
      window.open(`tel:${this.offer.phone}`)
    },
    copyPlace (location) {
      this.dialog = false
      this.dialog2 = false
      if (location === 'drop-off') {
        // cordova.plugins.clipboard.copy(this.offer.drop_off_address)
      } else if (location === 'pickup') {
        // cordova.plugins.clipboard.copy(this.offer.pickup_address)
      }
      // cordova.plugins.clipboard.paste()
    },
    openMap (location, provider = 'google') {
      this.dialog = false
      this.dialog2 = false
      let endpoint
      switch (provider) {
        case 'google':
          endpoint = 'https://www.google.com/maps/search/?api=1&query='
          break
        case 'waze':
          endpoint = 'https://waze.com/ul?q='
          break
        case 'apple':
          endpoint = 'http://maps.apple.com/?address='
          break
      }
      if (location === 'drop-off') {
        window.open(
          `${endpoint}${encodeURIComponent(
            this.offer.route.to_country.name +
            ' ' +
            this.offer.route.to_city.name +
            ' ' +
            this.offer.drop_off_address
          )}`
        )
      } else if (location === 'pickup') {
        window.open(
          `${endpoint}${encodeURIComponent(
            this.offer.route.from_country.name +
            ' ' +
            this.offer.route.from_city.name +
            ' ' +
            this.offer.pickup_address
          )}`
        )
      }
    }
  },
  created () {
    this.getOffer()
    this.getVehicles()
    this.getDrivers()
    // App.addListener('')
  },
  async beforeMount () {
    this.isGeolocationAccessed = await this.checkPermissions()
  },
  watch: {
    vehicle (newValue) {
      if (newValue.licence !== undefined) {
        this.vehicleName = newValue.licence
      }
    },
    driver (newValue) {
      if (newValue.first_name !== undefined) {
        this.driverName = newValue.first_name + ' ' + newValue.last_name
      }
    },
    isShowBottomMenu (newValue) {
      this.bigHeight = !newValue
    }
  }
}
</script>

<style scoped lang="scss">
.offer__content {
  display: flex;
  color: #fff;
}

.offer__title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 11px 0px;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
}

.offer__actions {
  background: #292b30;
  height: 120px;
}

//.offer__content-title {
//  font-weight: 600;
//  font-size: 17px;
//  display: flex;
//  justify-content: center;
//  width: 100%;
//  margin: 20px 0px;
//}
.offer__actions-title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #848488;
  font-weight: 400;
  padding: 5px 0px;
  line-height: 14px;
  margin-top: -10px;
}

.offer__actions-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer__actions-btns {
  button {
    font-size: 14px !important;
    width: 100%;
    height: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 8px;
  }
}

.action-btn {
  border: none;
  width: 66%;
  cursor: pointer;
  color: #fff;
  background: $primary;
  border-radius: 8px;
  padding: 10px 0px;
  font-weight: 400;
  height: 38px;
  text-transform: capitalize;
}

.offer__routes {
  & > div:first-child {
    margin-bottom: 24px;
  }
}

.offer__routes-item {
  display: flex;
  align-items: center;

  img {
    margin-right: 5px;
    z-index: 1000;
  }
}

.offer__routes {
  position: relative;
  margin-bottom: 10px;

  &::after {
    content: "";
    position: absolute;
    height: 50%;
    top: 14px;
    left: 5.6px;
    border-left: 1px dashed #848488;
    width: 2px;
  }
}

.offer__routes-item-text {
  display: flex;
  align-items: center;
  z-index: 100;
}

.offer__places-item {
  margin-left: 18px;
  margin-bottom: 10px;
}

.offer__places-item li {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 3px;
  }

  & > span {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.offer__title {
  height: 40px;
}

.airplane {
  margin-left: 14px;
  align-items: center;

  img {
    margin-right: 6px;
  }
}

.offer__info {
  padding-bottom: 20px;
}

.offer__info-list {
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 12px;
  }
}

.selects {
  margin: 20px 0;

  & > div:not(:last-child) {
    margin-bottom: 6px;
  }
}

.offer__info-list {
  display: flex;
  color: #fff;
  margin-bottom: 10px;

  li {
    list-style-type: none;
    font-size: 15px;
    padding-right: 3px;
  }
}

.form__btn_select {
  label img {
    width: 10px;
  }
}

.font-bold {
  font-weight: 700;
}

.font-grey-color {
  color: #848488;
}

.offer__routes-item {
  position: relative;
}

.offer__routes-item-btn {
  position: absolute;
  right: 2px;
  transform: rotate(90deg);
  display: flex;
  height: 20px;
  align-items: center;

  span {
    display: block;
    margin-right: 1.3px;
    width: 4.6px;
    height: 4.6px;
    background: #fff;
    border-radius: 50%;
  }
}

.select__buttons {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  span {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #848488;
    text-align: center;
    margin-bottom: 16px;
    text-transform: capitalize;
  }

  button {
    border: none;
    background: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #fff;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &:hover {
      color: $primary;
    }

    &:active {
      color: $primary;
    }
  }
}

.q-card {
  padding-bottom: 30px;
}

.q-card__section {
  padding: 0 16px;
}

.offer__actions {
  & .container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.disable {
  opacity: 0.8;
  pointer-events: none;
}

.heightToOpenInput {
  height: calc(100vh - 122px) !important;
}

.actions-anime-enter-active {
  transition: opacity 0.3s;
  transition-delay: 10ms;
}

.actions-anime-enter-from {
  opacity: 0;
}

.actions-anime-enter-to {
  opacity: 1;
}

.ride__item {
  background: #292b30;

  button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: none;
  }
}

.ride__item_label {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 8px;

  img {
    width: 10px;
    margin-right: 6px;
  }
}

.offer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-right: 8px;
    }
  }

  span {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fafafa;
  }
}

.offer__top-section {
  height: 52px;
  width: 100%;
  padding: 0 18px;
  border: 0.75px solid rgba(255, 255, 255, 0.3) !important;
  border-radius: 8px !important;
  background: $primary;
  margin: 10px auto 16px auto;
}

.card__content-info-routes {
  color: #fff;
  position: relative;
}

.card__content-info-routes-item {
  display: flex;
  align-items: center;

  &:first-child {
    margin-bottom: 26px;
  }
}

.card__content-info-routes {
  margin-bottom: 16px;
}

.map-vector {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.map-vector-start {
  background: $primary;
}

.map-vector-end {
  background: #848488;
}

.line-routes {
  position: absolute;
  height: 4px;
  width: 26px;
  top: calc(50% - 2px);
  left: -0.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: rotate(90deg);

  span {
    height: 2px;
    width: 20%;
    border-radius: 1px;
    background: $primary;

    &:last-child,
    &:first-child {
      width: 14%;
    }
  }
}

.warning-color {
  color: #ffa52f !important;
}

.ride__item-img {
  margin-right: 16px;
}

.routes-item__address {
  min-height: 40px;
  display: flex;
  align-items: center;
  word-wrap: anywhere;
  width: calc(100% - 40px);

  span {
    line-height: 20px;
    width: 90%;
  }

  .offer__routes-item-btn {
    width: 20px;
    height: 20px;
  }
}

.offer__content-info-title {
  margin-bottom: 12px;

  span {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fafafa;
    opacity: 0.6;
  }
}

.select__extras {
  width: 80%;

  button {
    height: 46px;
    border: 1px gray solid;
    border-radius: 8px;
  }
}

.select__location {
  width: 96%;

  button:not(:last-child),
  span {
    border-bottom: 1px rgba(128, 128, 128, 0.21) solid;
  }

  span {
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  button {
    margin: 0 !important;
    padding: 10px 0;
    height: 46px;
  }

  button {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    color: #dfdfdf;
  }
}

.warning {
  display: flex;
  align-items: center;
  margin-top: 16px;

  .icon {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
  }

  img {
    width: 18px;
  }

  span {
    width: calc(100% - 40px);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
  }
}

.offer__info-item {
  display: flex;
  margin-bottom: 16px;

  .icon {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;

    img {
      height: 16px;
    }
  }

  span {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.015em;
    width: calc(100% - 40px);
  }
}

.active {
  color: $primary;
}

.disable-submit {
  background: #848488;
  border: none;
}

.position-right {
  position: absolute;
  right: 10%;
}

.position-right {
  margin-right: -12px;
}

.extras-btn {
  background: none;
  border: none;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    margin-right: 16px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  span {
    width: calc(100% - 40px);
  }
}

.bottom-offer {
  bottom: 0;
}
</style>
