<template>
  <div class="container">
    <q-pull-to-refresh
      @refresh="this.$emit('refreshList', $event)"
      color="primary"
      bg-color="dark"
      scroll-target=".content"
    >
      <div class="offers">
        <template v-if="this.planneds?.length">
          <div v-if="this.ongoingPlanneds?.length">
            <div class="order__title">ONGOING</div>
            <VCard
              v-for="planned in this.ongoingPlanneds"
              :key="planned.id"
              :card="planned"
              :is-ongoing="true"
              @click="this.openOffer(planned.id)"
            />
          </div>
          <div v-if="this.upcomingPlanneds?.length">
            <div class="order__title">UPCOMING</div>
            <VCard
              v-for="planned in this.upcomingPlanneds"
              :key="planned.id"
              :card="planned"
              @click="this.openOffer(planned.id)"
            />
          </div>
        </template>
        <template v-else>
          <v-refresh
            :title="'No planned rides yet'"
            :subtitle="'When you accept an offer it will be shown here.'"
            :icon="require('../static/images/icons/not-planned.svg')"
          />
        </template>
      </div>
    </q-pull-to-refresh>
  </div>
</template>

<script>
import VCard from 'components/CardComponent.vue'
import { mapGetters } from 'vuex'
import VRefresh from 'components/v-refresh'

export default {
  name: 'p-planned',
  components: {
    VRefresh,
    VCard
  },
  computed: {
    ...mapGetters({
      planneds: 'modules/getPlanned'
    }),
    // planneds () {
    //   const userId = this.$store.state.modules.user.id
    //   return this.$store.state.modules.planned
    //     ?.filter(item =>
    //       item.user_id === userId || item.driver?.user_id === userId) || []
    // },
    ongoingPlanneds () {
      return this.planneds.filter(item => this.getDiffDates(item.route_date) < 24)
    },
    upcomingPlanneds () {
      return this.planneds.filter(item => this.getDiffDates(item.route_date) >= 24)
    }
  },
  methods: {
    openOffer (id) {
      this.$router.push('/offer/' + id)
    },
    getDiffDates (d) {
      const diff = (new Date(d).getTime() - new Date().getTime()) / 3600000
      return Math.abs(Math.floor(diff))
    }
  }
}
</script>

<style scoped>
.order__title {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #FAFAFA;
  opacity: 0.6;
  margin-bottom: 16px;
}
</style>
