<template>
  <div class="info flex flex-center column justify-center">
    <span> To decline trip: </span>
    <span v-if="Object.keys(offer).length !== 0">
      {{ offer.route.from_city.name }} ({{
        offer.route.from_city.country_code
      }}) to {{ offer.route.to_city.name }} ({{
        offer.route.to_city.country_code
      }})
    </span>
    <span v-if="Object.keys(offer).length !== 0">
      {{ normalizeDate(offer.route_date, "offer") }}
    </span>
  </div>
  <div class="bottom flex flex-center justify-center">
    <div class="text flex flex-center justify-center">
      <p>
        A cancellation fee of 100% of the cost of the trip will be applied
        unless you provide a replacement driver who meets mytripliner Standards
        and Requirements.
      </p>
    </div>
    <div class="btn flex flex-center justify-center">
      <q-btn
        @click="removeOffer"
        size="md"
        padding="sm"
        color="primary"
        text-color="white"
        label="Confirm"
        class="confirm-extras-btn"
      />
    </div>
  </div>
</template>

<script>
import normalizeDate from 'src/mixins/normalizeDate'
import { mapGetters } from 'vuex'

export default {
  name: 'remove-offer',
  mixins: [normalizeDate],
  computed: {
    ...mapGetters({
      getUser: 'modules/getUser'
    })
  },
  data () {
    return {
      offer: {}
    }
  },
  methods: {
    removeOffer () {
      this.$store.commit('modules/setLoadingStatus', true)
      this.$api
        .post('bookings/update-status', {
          id: this.offer.id,
          user_id: this.getUser.id,
          status: 'pending'
        })
        .then((resp) => {
          if (resp.data.status) {
            this.$store.dispatch('modules/getBookings').then(() => {
              this.$store.commit('modules/setLoadingStatus', false)
            })
            this.$router.push('/offers')
          }
        })
    },
    getOffer () {
      this.$api
        .post('bookings/get', { id: this.$route.params.id })
        .then((resp) => (this.offer = resp.data))
    }
  },
  created () {
    this.getOffer()
  }
}
</script>

<style scoped lang="scss">
.bottom {
  height: 200px;
}
.info {
  height: calc(100vh - 328px);
  span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
}
.btn {
  width: 100%;
  button {
    border-radius: 8px;
  }
  margin-bottom: 40px;
}
.text {
  width: 90%;
  text-align: center;
  p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #848488;
  }
}
</style>
