<template>
  <q-card v-if="card.get_cars.length" class="my-card q-mb-md">
    <div class="card__status" v-if="isOngoing && card.status_job === 'arrived_to_destination'">
      Status: <b>Arrived at pickup location</b>
    </div>
    <div class="card__status" v-if="isOngoing && card.status_job === 'passenger_on_board'">
      Status: <b>Passenger on board</b>
    </div>
    <q-card-section class="text-white q-py-sm card__top-section">
      <div class="card__top">
        <div class="card__top-date">
          <img src="../static/images/icons/calendar.svg" alt="calendar"/>
          <span
          >{{ card.route_date.split(' ')[0].split('-')[2] }}.{{
              card.route_date.split(' ')[0].split('-')[1]
            }}.{{ card.route_date.split(' ')[0].split('-')[0] }}</span
          >
        </div>
        <div class="card__top-time">
          <img src="../static/images/icons/time.svg" alt="time"/>
          <span>{{
              card.route_date.split(' ')[1].split(':')[0] +
              ':' +
              card.route_date.split(' ')[1].split(':')[1]
            }}</span>
        </div>
        <div class="card__top-passengers">
          <img src="../static/images/icons/passengers.svg" alt="passengers"/>
          <span>{{ card.adults }}</span>
        </div>
        <!--        <span class="card__top-amount" v-if="!isComing && (getUser.role !== 'driver' || card.payment_type === 2)">€{{ calculatePrice(card.amount) }}</span>-->
      </div>
    </q-card-section>
    <q-card-actions class="card-bg">
      <div class="card__content-coming" v-if="isComing && card.route">
        <div class="card__content-info-title">
          <span>Long distance</span>
        </div>
        <div class="card__content-info-routes">
          <div class="card__content-info-routes-item">
            <div class="map-vector map-vector-start">
              <img src="../static/images/icons/map-vector.svg" alt="map"/>
            </div>
            <span style="line-height: 16px">
              <span style="font-size: 16px">{{ fromCityName }}</span>
              <br/>
              <span style="font-size: 14px; opacity: 0.6; line-height: 20px">{{ fromCountryName }}</span>
            </span>
          </div>
          <span class="line-routes">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div v-if="isDaytour" class="card__content-info-routes-item" style="margin-top: -10px;">
            <div class="map-vector map-vector-end" style="background: transparent;">
              <img src="../static/images/icons/timer.svg" alt="map"/>
            </div>
            <span style="line-height: 16px">
                <span style="font-size: 16px">{{ card.daytour_duration }} hours</span>
              </span>
          </div>
          <div v-else class="card__content-info-routes-item">
            <div class="map-vector map-vector-end">
              <img src="../static/images/icons/map-vector.svg" alt="map"/>
            </div>
            <span style="line-height: 16px">
              <span style="font-size: 16px">{{ card.route.to_city.name }}</span>
              <br/>
              <span style="font-size: 14px; opacity: 0.6; line-height: 20px">{{
                  card.route.to_country.name
                }}</span>
            </span>
          </div>
        </div>
        <div class="card__info-item">
          <div class="icon">
            <img
              src="../static/images/icons/passenger-name2.svg"
              alt="passenger-name"
            />
          </div>
          <span class="offer__info-item-value"
          >{{ card.first_name }} {{ card.last_name }}</span
          >
        </div>
      </div>
      <div class="card__content" v-if="!isComing && card.route">
        <div class="card__content-info">
          <!-- <ul class="card__content-info-top" v-if="$route.path === '/offers'">
            <li
              class="service__class bg-sedan2"
              :class="{
                'bg-van2': card.get_cars[0].title.toLowerCase() === 'van',
                'bg-luxury2':
                  card.get_cars[0].title.toLowerCase() === 'luxury sedan',
                'bg-mpv2': card.get_cars[0].title.toLowerCase() === 'mpv',
              }"
            >
              {{ card.get_cars[0].title }}
            </li>
            <li class="vertical-bar">|</li>
            <li>
              {{ card.adults }}&nbsp;
              <img src="../static/images/icons/adults.svg" />
            </li>
            <li v-if="card.childrens">|</li>
            <li v-if="card.childrens">
              {{ card.childrens }}&nbsp;
              <img src="../static/images/icons/childs.svg" />
            </li>
            <li class="vertical-bar">|</li>
            <li>
              {{ card.luggage }}&nbsp;
              <img src="../static/images/icons/luggage.svg" />
            </li>
          </ul> -->
          <div class="driver">
            <div class="icon">
              <img src="../static/images/icons/driver.svg" alt="driver"/>
            </div>
            <span v-if="card.driver !== null"
            >{{ card.driver.first_name }} {{ card.driver.last_name }}</span
            >
            <span v-else>-</span>
          </div>
          <div v-if="this.$route.path !== '/offers'" class="car">
            <div class="icon">
              <img src="../static/images/icons/car.svg" alt="car"/>
            </div>
            <span
              v-if="this.$route.path === '/planned' || this.$route.path === '/finished'"
              style="text-transform: lowercase"
            >{{ card.get_cars[0].title }}</span
            >
            <span
              v-else-if="card.vehicle?.license !== undefined"
              style="text-transform: lowercase"
            >{{ card.vehicle.licence }}</span
            >
            <span v-else>-</span>
          </div>
          <div class="card__content-info-title">
            <span>Long distance</span>
          </div>
          <div class="card__content-info-routes">
            <div class="card__content-info-routes-item">
              <div class="map-vector map-vector-start">
                <img src="../static/images/icons/map-vector.svg" alt="map"/>
              </div>
              <span style="line-height: 16px">
                <span style="font-size: 16px">{{
                    fromCityName
                  }}</span>
                <br/>
                <span
                  style="font-size: 14px; opacity: 0.6; line-height: 20px"
                >{{ fromCountryName }}</span
                >
              </span>
            </div>
            <span v-if="!isDaytour" class="line-routes">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </span>
<!--                        <span v-if="$route.path !== '/offers' && card.places.length" style="font-family: 'Inter', sans-serif;font-style: normal;font-weight: 400;font-size: 11px;line-height: 15px;color: rgba(255, 255, 255, 0.7);">via:</span>-->
<!--                        <ul class="card__content-info-places" v-if="card.places.length">-->
<!--                            <li class="card__content-info-places-item" v-for="place in card.places" :key="place.id">-->
<!--                              <span v-if="$route.path === '/offers'" class="card__content-info-places-item-dash top"></span>-->
<!--                              <span class="card__content-info-places-item-title">{{ place.title_en }} ({{place.durations}}min.)</span>-->
<!--                              <span v-if="$route.path === '/offers'" class="card__content-info-places-item-dash bottom"></span>-->
<!--                            </li>-->
<!--                        </ul>-->
            <div v-if="isDaytour" class="card__content-info-routes-item" style="margin-top: -10px;">
              <div class="map-vector map-vector-end" style="background: transparent;">
                <img src="../static/images/icons/timer.svg" alt="map"/>
              </div>
              <span style="line-height: 16px">
                <span style="font-size: 16px">{{ card.daytour_duration }} hours</span>
              </span>
            </div>
            <div v-else class="card__content-info-routes-item">
              <div class="map-vector map-vector-end">
                <img src="../static/images/icons/map-vector.svg" alt="map"/>
              </div>
              <span style="line-height: 16px">
                <span style="font-size: 16px">{{
                    card.route.to_city?.name
                  }}</span>
                <br/>
                <span
                  style="font-size: 14px; opacity: 0.6; line-height: 20px"
                >{{ card.route.to_country?.name }}</span
                >
              </span>
            </div>
          </div>
          <div
            v-if="card.places.length"
            class="extra-stops"
            :class="{
              'last-block':
                this.$route.path === '/planned' && !card.comment.length,
            }"
          >
            <div class="title">
              <div class="icon">
                <img
                  src="../static/images/icons/extra-stops.svg"
                  alt="extra-stops"
                />
              </div>
              <span
              ><span v-if="this.$route.path !== '/offers'">{{
                  card.places.length
                }}</span>
                Extra stops</span
              >
            </div>
            <div v-if="this.$route.path === '/offers'" class="stops">
              <ul>
                <li v-for="place in card.places" :key="place.id">
                  <span>{{ place.title_en }}</span
                  ><span>{{ place.durations }}min.</span>
                </li>
              </ul>
            </div>
          </div>
          <div v-if="this.$route.path === '/offers'" class="car">
            <div class="icon">
              <img src="../static/images/icons/car.svg" alt="car"/>
            </div>
            <span style="text-transform: lowercase">{{
                card.get_cars[0].title
              }}</span>
          </div>
          <div
            v-if="card.comment.length"
            class="comment"
            :class="{ 'last-block': this.$route.path === '/planned' }"
          >
            <div class="icon">
              <img src="../static/images/icons/comment.svg" alt="car"/>
            </div>
            <span>{{ card.comment }}</span>
          </div>
          <div v-if="this.$route.path === '/offers'" class="price">
            <img src="../static/images/icons/wallet.svg" alt="wallet"/>
            <span>{{ calculatePrice(card.amount) }} €</span>
          </div>
          <div v-if="this.$route.path === '/finished'" class="booking__number">
            <span>Booking number: {{ card.id }}</span>
          </div>
          <div
            class="submit"
            v-if="btn === 'take' && getUser.role !== 'driver'"
          >
            <q-btn @click="changeStatus(card.id)">
              <span>Accept</span>
            </q-btn>
          </div>
        </div>
      </div>
      <!--      <div ref="slider" class="slider" v-if="btn === 'take' && getUser.role !== 'driver'" :class="{ 'accept': this.isSlideAccept }">-->
      <!--        <span class="slider__text">Accept</span>-->
      <!--        <span :style="{'width': Number(this.positionLeftSlider.substring(0, this.positionLeftSlider.length - 2)) + 42 + 'px'}" class="slider__background bg-sedan3" :class="{ 'bg-van3': card.get_cars[0].title.toLowerCase() === 'van', 'bg-luxury3': card.get_cars[0].title.toLowerCase() === 'luxury sedan', 'bg-mpv3': card.get_cars[0].title.toLowerCase() === 'mpv' }"></span>-->
      <!--        <div @touchmove="slideStart($event)" @touchend="slideEnd()" class="slider__btn bg-sedan3" :class="{ 'bg-van3': card.get_cars[0].title.toLowerCase() === 'van', 'bg-luxury3': card.get_cars[0].title.toLowerCase() === 'luxury sedan', 'bg-mpv3': card.get_cars[0].title.toLowerCase() === 'mpv' }" :style="{'left': positionLeftSlider}">-->
      <!--          <img style="margin-left: -2px" src="../static/images/icons/arrow-slider.svg" alt="slider">-->
      <!--          <img style="position: absolute; left: 12px;" src="../static/images/icons/arrow-slider.svg" alt="slider">-->
      <!--        </div>-->
      <!--      </div>-->
    </q-card-actions>
  </q-card>
</template>

<script>
import NormalizeDate from 'src/mixins/normalizeDate'
import { mapGetters } from 'vuex'
import calculatePrice from 'src/mixins/calculatePrice'

export default {
  name: 'CardComponent',
  props: ['card', 'btn', 'isComing', 'isOngoing'],
  mixins: [NormalizeDate, calculatePrice],
  computed: {
    ...mapGetters({
      getUser: 'modules/getUser'
    }),
    isDaytour () {
      return this.card.type === 'daytour'
    },
    fromCityName () {
      if (this.isDaytour) {
        return this.card.daytour_city.name
      }
      return this.card.route.from_city?.name || '-'
    },
    fromCountryName () {
      if (this.isDaytour) {
        return this.card.daytour_country.name
      }
      return this.card.route.from_country?.name || '-'
    }
  },
  data () {
    return {
      positionLeftSlider: '2px',
      isSlideAccept: false
    }
  },
  methods: {
    changeStatus (id) {
      this.$store.commit('modules/setLoadingStatus', true)
      this.$api
        .post('bookings/update-status', {
          id,
          user_id: this.getUser.id,
          status: 'planned'
        })
        .then((resp) => {
          if (resp.data.status) {
            this.$q.notify({
              position: 'top',
              message: 'You have been assigned the ride.',
              color: 'primary'
            })
            this.$store.dispatch('modules/getBookings').then(() => {
              this.$store.commit('modules/setLoadingStatus', false)
            })
          }
        })
        .catch((e) => {
          this.$q.notify({
            position: 'top',
            message: 'You have NOT been assigned the ride.',
            color: 'negative'
          })
        })
    },
    slideStart (event) {
      const left =
        event.targetTouches[0].clientX - (window.innerWidth / 100) * 10
      if (left > 2 && left < this.$refs.slider.clientWidth - 44) {
        this.positionLeftSlider = left + 'px'
      }
    },
    slideEnd () {
      if (
        (this.$refs.slider.clientWidth - 44) / 2 <=
        Number(
          this.positionLeftSlider.substring(
            0,
            this.positionLeftSlider.length - 2
          )
        )
      ) {
        this.positionLeftSlider = this.$refs.slider.clientWidth - 44 + 'px'
        this.isSlideAccept = true
        this.changeStatus(this.card.id)
      } else {
        this.positionLeftSlider = '2px'
      }
    }
  }
}
</script>

<style scoped lang="scss">
.my-card {
  background: #292b30;
  border: 1.5px solid rgba(255, 255, 255, 0.43);
  box-shadow: 0 4px 4px #000000;
  border-radius: 16px;
  padding: 16px;
}

.card__status {
  font-size: 15px;
  color: $secondary;
  padding-bottom: 10px;
}

.card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-right: 8px;
    }
  }
}

.card__top-section {
  height: 52px;
  width: 100%;
  margin: auto;
  padding: 0 18px;
  border: 0.75px solid rgba(255, 255, 255, 0.3) !important;
  border-radius: 8px !important;
  background: $primary;
  margin-bottom: 8px;
}

.card__top-date {
  font-weight: 500;
}

.card__top-amount {
  padding: 1px 10px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card__content-info-top {
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 5%;
  margin: 10px 0;

  li {
    list-style-type: none;
  }
}

.card__content-info {
  width: 100%;
}

.card__content-info-top li:not(:first-child) {
  font-size: 15px;
  padding-right: 3px;
}

.card_content-icon {
  padding-left: 10px;
  width: 14%;

  img {
    width: 32px;
  }
}

.card__content-info-top {
  img {
    width: 10px;
  }
}

.card-btn {
  background: $primary;
  color: #fff;
  width: 68px;
}

.card__content-info-routes {
  color: #fff;
  position: relative;
}

.card__content-info-routes-item {
  display: flex;
  align-items: center;

  &:first-child {
    margin-bottom: 26px;
  }
}

.card__content-info-places {
  padding-left: 15.5px;
  position: relative;
}

.card__content-info-places-item-dash {
  position: absolute;
  height: 4px;
  width: 0.05em;
  background: #fff;
  left: -10.1px;
}

.card__content-info-places-item-dash.top {
  top: -2px;
}

.card__content-info-places-item-dash.bottom {
  top: 13px;
}

.card__content-info-places-item {
  line-height: 14px;
  margin: 6px 0px;
  position: relative;
  z-index: 1000;
}

.card__content-info-places-item-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.9);
}

.card__content-info-places-item-figure {
  position: absolute;
  background: #fff;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
}

.card__content-info-places-item-border {
  position: absolute;
  height: 100%;
  border: 1px dashed #848488;
  left: 6px;
}

.card__content-coming {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 10px 0px;
  margin-left: 10px;
}

.card__content-coming-title {
  font-weight: 500;
}

.card__content-coming-subtitle {
  color: #afafaf;
  padding-top: 7px;
  font-size: 13px;
}

//.bg-sedan{
//  background: rgba(11, 142, 95, 0.5);
//}
//.bg-mpv{
//  background: rgba(25, 105, 169, 0.5);
//}
//.bg-van{
//  background: rgba(236, 130, 74, 0.5);
//}
//.bg-luxury{
//  background: rgba(11, 11, 11, 0.76) !important;
//}
//.bg-sedan2{
//  background: rgba(12, 143, 96, 0.8);
//}
//.bg-mpv2{
//  background: rgba(25, 105, 169, 0.8);
//}
//.bg-van2{
//  background: rgba(236, 130, 74, 0.8);
//}
//.bg-luxury2{
//  background: rgba(5, 5, 5, 0.8);
//}
//.bg-sedan3{
//  background: radial-gradient(212.79% 488.38% at -112.79% 51.16%, #0B8E5F 0%, #0B8E5F 20%, #0B8E5F 40%, #0B8E5F 53.65%, #0B8E5F 60%, #00491E 100%);
//}
//.bg-mpv3{
//  background: radial-gradient(212.79% 488.38% at -112.79% 51.16%, #0B8E5F 0%, #0B8E5F 0.01%, #0B8E5F 0.02%, #0B8E5F 0.03%, #1969A9 65.1%, #012E53 100%);
//}
//.bg-van3{
//  background: radial-gradient(212.79% 488.38% at -112.79% 51.16%, #EC824A 0%, #08794B 0.01%, #EC824A 20%, #EC824A 20.01%, #EC824A 40%, #EC824A 53.65%, #EC824A 60%, #E95000 100%);
//}
//.bg-luxury3{
//  background: radial-gradient(212.79% 488.38% at -112.79% 51.16%, #0B8E5F 0%, #0B8E5F 0.01%, #0B8E5F 0.02%, #888B8A 0.03%, #34393F 70.83%, #1A1F24 92.19%);
//}
.color-van {
  color: #ec824a !important;
}

.color-luxury {
  color: #fff !important;
}

.card__buttons {
  .card__btn {
    height: 25px !important;
  }

  button {
    height: 25px !important;
    font-size: 14px !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
  }
}

.card__content-info-top {
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 12px;
  }
}

.slider {
  width: 90%;
  height: 47px;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  &__btn {
    position: absolute;
    transition: all 0.1s;
    top: 2px;
    left: 2px;
    width: 43px;
    height: 43px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  &__text {
    position: absolute;
    left: calc(50% - 18px);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  &__background {
    position: absolute;
    transition: all 0.1s;
    z-index: 10;
    left: 2px;
    //background: rgb(87, 87, 87);
    height: 45px;
    border-radius: 25px;
    width: 0;
  }
}

.card__content-info-routes {
  margin-bottom: 16px;
}

.service__class {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  text-transform: uppercase;
  margin-right: 4px;
  font-size: 16px;
  height: 16px;
}

.vertical-bar {
  line-height: 12px;
  font-size: 19px !important;
  text-align: center;
  padding-bottom: 2px;
  font-weight: 300;
}

.accept {
  transition-delay: 0.2s;
  transition-duration: 0.5s;
  transition-property: all;
  width: 0;
  height: 0;
  opacity: 0;

  & .slider__btn {
    transition-duration: 0.2s;
    transition-property: all;
    opacity: 0;
  }
}

.map-vector {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.map-vector-start {
  background: $primary;
}

.map-vector-end {
  background: #848488;
}

.line-routes {
  position: absolute;
  height: 4px;
  width: 26px;
  top: calc(50% - 2px);
  left: -0.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: rotate(90deg);

  span {
    height: 2px;
    width: 20%;
    border-radius: 1px;
    background: $primary;

    &:last-child,
    &:first-child {
      width: 14%;
    }
  }
}

.card__content-info-title {
  margin-bottom: 16px;

  span {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fafafa;
    opacity: 0.6;
  }
}

.price {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 0.75px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  padding: 6px 0;

  img {
    margin-right: 8px;
  }

  span {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
    color: #fafafa;
  }
}

.submit {
  width: 100%;
  margin-top: 16px;

  button {
    background: $primary;
    border-radius: 8px;
    border: 2px solid #d6d6d6;
    width: 100%;
    height: 52px;

    span {
      color: #fff;
      text-transform: none;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
}

.q-card__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__info-item {
  width: 100%;
  display: flex;
  align-items: center;

  .icon {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;

    img {
      width: 16px;
    }
  }
}
</style>
