<template>
  <q-layout class="geolocation-slide" view="lHh Lpr lFf">
    <q-page-container class="geolocation-slide__wrapper" style="display:flex;flex-direction: column">
      <div class="marker-wrapper">
        <img src="~/assets/geo-info-marker.svg" alt=""/>
      </div>
      <div class="geolocation-slide__inner">
        <p class="geolocation-slide__title">
          For optimal functionality, this app requires location access to be set to 'Always.'
        </p>
        <p class="geolocation-slide__subtitle">
          Enabling this setting allows us to provide enhanced support for you and your guests during your journey.
        </p>
        <a class="learn-more" href="https://mytripline.com/partner-privacy-policy">Learn more</a>
        <q-btn
          size="md"
          padding="sm"
          color="primary"
          text-color="white"
          style="width: 100%"
          label="Continue"
          @click="go"
        />
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'GeolocationInformationSlide',
  methods: {
    go () {
      localStorage.setItem('GEO_AGREED', '1')
      this.$router.push('/home')
    }
  }
}
</script>

<style scoped lang="scss">
.marker-wrapper {
  justify-content: center;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.learn-more {
  display: flex;
  font-size: 18px;
  color: #4370FF;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 46px;
  font-weight: 500;
  justify-content: center;
}

.geolocation-slide__wrapper {
  display: flex;
  flex-direction: column;
  //background: red;
}

.geolocation-slide {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #05060b;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('~assets/geo-info-background.png');
  padding: 54px 24px;

  &__inner {
  }

  &__title {
    color: white;
    font-size: 18px;
    text-align: center;
  }

  &__subtitle {
    color: white;
    opacity: 0.6;
    text-align: center;
  }
}
</style>
