<template>
  <q-header
    class="header"
    :class="{
      'small-header': this.$route.name === 'offer',
      'bg-header': !notBg,
    }"
  >
    <div class="header__titles">
      <div class="header__links" v-if="this.$route.meta.links !== undefined">
        <div
          class="header__links-item"
          v-for="link in this.$route.meta.links"
          :key="link"
        >
          <router-link
            :to="link.url"
            v-if="link.position"
            class="link"
            :class="{
              'position-left': link.position === 'left',
              'position-right': link.position === 'right',
            }"
          >
            <img :src="link.icon" />
          </router-link>
        </div>
      </div>
      <div
        class="header__btn-right"
        @click="changeShowAssignedOrders"
      >
        <span
          v-if="this.$route.path === '/planned' && this.$store.state.modules.user.role === 'partner'"
          class="header__sub-title-right-span position-right"
          :class="{ active: showAssignedOrders }"
          >my rides</span
        >
      </div>
      <div v-if="this.$route.meta.title === 'mytripliner'">
        <h1 class="header__title font-style-normal"><b>my</b>tripliner</h1>
      </div>
      <h1
        v-else-if="this.$route.meta.title !== undefined"
        class="header__title font-style-normal"
      >
        {{ this.$route.meta.title }}
      </h1>
      <h2
        style="font-weight: 200; opacity: 0.6"
        class="header__subtitle"
        v-if="this.$route.meta.subtitle !== undefined"
      >
        {{ this.$route.meta.subtitle }}
      </h2>
      <h2
        class="header__subtitle chat__header_subtitle"
        :class="{ grey: adminStatus === 'offline' }"
        v-if="this.$route.path === '/chat'"
      >
        {{ adminStatus }}
      </h2>
    </div>
  </q-header>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'HeaderComponent',
  computed: {
    ...mapGetters({
      adminStatus: 'modules/getAdminStatus',
      showAssignedOrders: 'modules/getShowAssignedOrders'
    })
  },
  props: ['notBg'],
  methods: {
    changeShowAssignedOrders () {
      this.$store.commit(
        'modules/SET_SHOW_ASSIGNED_ORDERS',
        !this.showAssignedOrders
      )
    }
  }
}
</script>

<style scoped lang="scss">
.header {
  padding-top: 20px;
  z-index: 9000;
  background: none;
}
.bg-header {
  background: #171b1e !important;
}
.header__title {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header__subtitle {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 11px;
}
.header__btn-right {
  cursor: pointer;
}
.position-left {
  position: absolute;
  left: 10%;
}
.position-right {
  position: absolute;
  right: 10%;
}
.position-left {
  margin-left: -12px;
}
.position-right {
  margin-right: -12px;
}
.link {
  min-width: 25px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    min-width: 6px;
  }
}
.chat__header_subtitle {
  margin-top: 2px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: $primary;
  text-transform: capitalize;
}
.grey {
  color: #7d848d;
}
.small-header {
  height: 100px !important;
}
.font-style-normal {
  font-weight: 200;
  letter-spacing: normal;
}
.btn {
  background: none;
  border: none;
}
</style>
