<template>
  <div class="loading">
    <div class="logo">
      <img id="logo" src="../static/images/icons/logo.svg" alt="logo" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'v-loader'
}
</script>

<style scoped lang="scss">
.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
  background: rgba(26, 31, 36, 0.48);
  z-index: 10000000000;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100000000;
  bottom: calc(0 - env(safe-area-inset-bottom));
}
.inner_bg {
  height: 100%;
  width: 100%;
  position: absolute;
}
.logo {
  position: relative;
  width: 118px;
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  overflow: hidden;
  background: #001e61;
  img {
    position: absolute;
  }
  #logo {
    top: 0px;
    animation-name: anime-logo;
    animation-duration: 1.2s;
    z-index: 5;
  }
}
@keyframes anime-logo {
  0% {
    visibility: hidden;
    top: 20px;
    opacity: 0;
  }
  40% {
    visibility: visible;
    top: -20px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
