<template>
  <q-footer class="nav-menu" :class="{ smoothBg: notBg }">
    <div class="nav-menu__inner">
      <div
        class="nav-menu__list"
        :class="{ 'driver-menu': getUser.role === 'driver' }"
      >
        <div class="nav-menu__item">
          <router-link to="/home">
            <img src="../static/images/icons/home.svg" alt="home" />
            <span>Home</span>
          </router-link>
        </div>
        <div class="nav-menu__item" v-if="getUser.role !== 'driver'">
          <router-link to="/offers">
            <div class="offers">{{ offers.length }}</div>
            <img src="../static/images/icons/offers.svg" alt="offers" />
            <span>Offers</span>
          </router-link>
        </div>
        <div class="nav-menu__item">
          <router-link to="/planned">
            <img
              src="../static/images/icons/planned.svg"
              alt="planned"
              fill="blue"
            />
            <span>Planned</span>
          </router-link>
        </div>
        <div class="nav-menu__item">
          <router-link to="/finished">
            <img
              src="../static/images/icons/finished.svg"
              :fill="blue"
              alt="finished"
            />
            <span>Finished</span>
          </router-link>
        </div>
      </div>
    </div>
  </q-footer>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'v-nav-menu',
  props: ['notBg'],
  computed: {
    ...mapGetters({
      getUser: 'modules/getUser',
      offers: 'modules/getOffers'
    })
  }
}
</script>

<style scoped lang="scss">
.nav-menu {
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 100000;
  background: #171b1e;
  &__item {
    height: 38px;
    width: 32px;
  }
}
.smoothBg {
  background: linear-gradient(
    0deg,
    rgba(26, 31, 36, 1) 0%,
    rgba(26, 31, 36, 0.6908964269301471) 50%,
    rgba(26, 31, 36, 0.11666673505339631) 100%
  );
}
.nav-menu__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.nav-menu__list {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.nav-menu__item > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  svg {
    margin-bottom: 5px;
  }
  span {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding-top: 5px;
  }
  .offers {
    width: 13px;
    height: 13px;
    position: relative;
    top: -7px;
    left: 8px;
    border-radius: 7px;
    padding-top: 2px;
    font-family: Ubuntu, sans-serif;
    font-size: 8px;
    font-weight: 700;
    line-height: 9px;
    text-align: center;
    background: $primary;
    color: #F8F8F8;
    z-index: 1;
    margin-bottom: -14px;
  }
}
.router-link-active {
  & > img {
    filter: invert(69%) sepia(34%) saturate(2478%) hue-rotate(205deg)
      brightness(100%) contrast(105%);
  }
  & > span {
    color: $primary !important;
  }
  .offers {
    background: #F8F8F8 !important;
    color: #000 !important;
  }
}
.driver-menu {
  justify-content: space-around;
}
</style>
