<template>
  <div class="refresh">
    <div class="refresh__inner">
      <img :src="icon" alt="icon" />
      <h1>{{ title }}</h1>
      <span style="line-height: 18px" v-html="subtitle"></span>
      <span @click="getBookings()">Refresh</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'v-refresh',
  props: ['title', 'subtitle', 'icon'],
  methods: {
    getBookings () {
      this.$store.commit('modules/setLoadingStatus', true)
      this.$store.dispatch('modules/getBookings').then(() => {
        this.$store.commit('modules/setLoadingStatus', false)
      })
    }
  }
}
</script>

<style scoped>
</style>
