// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary : #4370FF;
$secondary : #2FB4E9;
$accent : #9C27B0;

$dark : #171B1E;
$dark-page : #171B1E;

$positive : #098C64;
$negative : #E7564F;
$info : #31CCEC;
$warning : #F2C037;

$input-color: #f8f5f5;
$input-color2: rgb(131, 131, 131);
$card: #2E3237;
