<template>
  <div class="load-api" v-if="getLoadingStatus">
    <div class="loader"></div>
  </div>
  <v-loader v-if="!isAnimateLogoEnd" />
  <router-view v-else class="app" />
</template>

<script>
import { defineComponent } from 'vue'
import { mapGetters } from 'vuex'
import VLoader from 'components/v-loader'
import connectPushNotification from 'src/mixins/connectPushNotification.js'
import connectGPS from 'src/mixins/connectGPS.js'

export default defineComponent({
  name: 'App',
  components: { VLoader },
  data () {
    return {
      isAnimateLogoEnd: false
    }
  },
  computed: {
    ...mapGetters({
      getLoadingStatus: 'modules/getLoadingStatus',
      offers: 'modules/getOffers',
      planneds: 'modules/getPlanned',
      finished: 'modules/getFinished'
    })
  },
  mixins: [connectPushNotification, connectGPS],
  methods: {
    async auth () {
      const roles = {
        3: 'user',
        4: 'partner',
        5: 'driver'
      }
      const token = localStorage.getItem('token')
      this.$api.post('user/auth', { token }).then((resp) => {
        if (resp.data.status) {
          if (this.$route.path === '/' || this.$route.name === 'login') {
            this.$router.replace('/home')
          }
          const user = resp.data.user
          user.role = user.isAdmin ? 'admin' : roles[user.role_id]
          this.$store.commit('modules/SET_USER', user)
          this.$store.dispatch('modules/getBookings')
          this.connectPushNotification(resp.data.user)
          // this.connectGPS()
        } else {
          if (this.$route.name !== 'login') {
            this.$router.replace('/')
          }
        }
      })
    }
  },
  mounted () {
    this.auth()
    setTimeout(() => {
      this.isAnimateLogoEnd = true
    }, 2600)
  },
  watch: {
    '$route.path' (val) {
      switch (val) {
        case '/offers':
          this.$route.meta.subtitle = `${this.offers?.length || 0} rides`
          break
        case '/planned':
          this.$route.meta.subtitle = `${this.planneds?.length || 0} rides`
          break
        case '/finished':
          this.$route.meta.subtitle = `${this.finished?.length || 0} rides`
          break
        default:
          break
      }
    }
  }
})
</script>
<style scoped lang="scss">
.load-api {
  backdrop-filter: blur(5px);
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000000000;
  .loader {
    background: none;
    position: absolute;
    height: 60px;
    width: 60px;
    border: 4px solid black;
    border-top: 4px solid $primary;
  }
}
</style>
