<template>
  <q-layout class="login-layout" view="lHh Lpr lFf">
    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'LoginLayout'
})
</script>

<style scoped lang="scss">
.background {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
}

.login-layout {
  background-color: #05060b;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("~assets/login-back.svg");
}
</style>
