<template>
  <q-layout view="lHh Lpr lFf" class="layout scrolling-trouble">
    <q-page-container
      :class="{
        'height-with-nav-bar': this.$route.meta.hideNavMenu === undefined,
      }"
    >
      <VHeader :notBg="notBg && this.$route.path === '/home'"/>
      <div
        class="content"
        :class="{
          'height-only-with-header':
            this.$route.path === '/profile' ||
            this.$route.path.indexOf('/offer/remove/') !== -1,
          'height-for-offer-and-chat': this.$route.name === 'offer',
          'height-for-chat': this.$route.path === '/chat',
        }"
      >
        <transition name="router-view">
          <router-view
            class="transition"
            @refreshList="refreshList"
            @setNotBgStatus="notBg = $event"
          />
        </transition>
      </div>
      <v-nav-menu
        v-if="this.$route.meta.hideNavMenu === undefined"
        :notBg="notBg && this.$route.path === '/home'"
      />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent } from 'vue'
import VNavMenu from 'components/v-nav-menu.vue'
import VHeader from 'components/HeaderComponent.vue'
import { api } from 'boot/axios'
// import { Geolocation } from '@capacitor/geolocation'
import { registerPlugin } from '@capacitor/core'
import connectPushNotification from 'src/mixins/connectPushNotification'
import connectGPS from 'src/mixins/connectGPS'
import { PushNotifications } from '@capacitor/push-notifications'

const BackgroundGeolocation = registerPlugin('BackgroundGeolocation')

export default defineComponent({
  name: 'MainLayout',
  components: {
    VHeader,
    VNavMenu
  },
  mixins: [connectPushNotification, connectGPS],
  data () {
    return {
      notBg: true,
      intervalId: 0,
      error: '',
      a: ''
    }
  },
  methods: {
    refreshList (done) {
      this.$store.dispatch('modules/getBookings').then(() => {
        done()
      })
    }
  },
  beforeUnmount () {
    BackgroundGeolocation.removeWatcher({
      id: this.watcher_id
    })
  },
  async mounted () {
    // await this.connectGPS()
    // Geolocation.getCurrentPosition().then((position) => {
    //   api.post('/driver-position', {
    //     latitude: position.coords.latitude,
    //     longitude: position.coords.longitude
    //   })
    //     .catch((err) => {
    //       this.error = err
    //     })
    // })
    //   .catch((err) => {
    //     this.error = err
    //   })
    setTimeout(async () => {
      // Geolocation.watchPosition({}, (position) => {
      //   api.post('/driver-position', {
      //     latitude: position.coords.latitude,
      //     longitude: position.coords.longitude
      //   })
      //     .catch((err) => {
      //       if (err.response.statusCode === 401) {
      //         localStorage.removeItem('token')
      //         this.$router.replace('/')
      //       }
      //     })
      // })
      try {
        const status = await PushNotifications.checkPermissions()
        if (status.receive === 'prompt') {
          await PushNotifications.requestPermissions()
        }
      } catch (e) {
      }
      console.log(55)
      BackgroundGeolocation.addWatcher(
        {
          backgroundMessage: 'Tracking Location',
          backgroundTitle: 'Tracking Location',
          requestPermissions: true,
          stale: false,
          distanceFilter: 10
        },
        function callback (location, error) {
          if (error) {
            if (error.code === 'NOT_AUTHORIZED') {
              if (window.confirm('Location access is denied. Open settings to grant access?')) {
                BackgroundGeolocation.openSettings()
              }
            }
            alert('Error')
            this.a = error
            return console.error(error)
          }

          api.post('/driver-position', {
            latitude: location.latitude,
            longitude: location.longitude
          })
            .catch((err) => {
              this.a = err
            })
          console.log(56)
        }
      )
        .then((id) => {
          this.watcher_id = id
        })
    }, 1)
  }
})
</script>

<style scoped lang="scss">
.header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  z-index: -10;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
  }
}

.router-view-enter-active {
  transition: all 0.5s ease-out;
}

.router-view-enter-from {
  opacity: 0;
  transform: translateY(40px);
}

.router-view-leave-to {
  opacity: 0;
  transform: translateY(-40px);
}

.height-only-with-header {
  height: calc(100vh - 100px);
}

.height-for-offer-and-chat {
  height: calc(100vh - 220px);
}

.height-for-chat {
  height: auto;
  overflow: auto;
}
</style>
